<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ACM-W @ ASE-B</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="ACMW/css/ACMW_Members.css" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="ACM/img/logo.png" class="d-inline-block align-top" width="170" , height="50" />
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-center">
					<li class="nav-item">
						<a class="nav-link" href="#home">HOME<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ACMW#about">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#members">MEMBERS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ACMW#sig">SIG @ AMRITA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ACW#events">EVENTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">CONTACT</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Container (The CAROUSEL section-->
	<!--<div id="home">
		<br /><br /><img src="ACMW/img/team-image.png" alt="TEAM IMAGE" width="1600" height="500" />
		<h3 id="member">
			SCROLL DOWN TO MEET THE ENTIRE TEAM
		</h3>
		<div class="caption">
			<h3>TEAM PHOTO</h3>
			<p>
				<center>
					Here the photo of the entire ACM and ACM-W team will come
					up</center>
			</p>
		</div>
	</div>-->
	<!-- Container (The About Section) -->
	<!-- Container (THE TEAM SECTION) -->
	<div id="members" class="container text-center">
		<h3>THE TEAM</h3>
		<div class="row">
			<br />
			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/supriya-m.jpg" alt="Ms. Supriya Chidambaram" style="width:100%" />
					<p class="text-center">
						<strong>MS. SUPRIYA CHIDAMBARAM </strong>
					</p>
					<p class="text-center">Faculty Mentor</p>
				</div>
			</div>

			<div class="col-sm-3">4
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/member.jpg" alt="Shobhanadri" style="width:100%" />
					<p class="text-center">
						<strong>SHOBHANADRI</strong>
					</p>
					<p class="text-center">Treasurer</p>
				</div>
			</div>

			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/svarnim.jpg" alt="Svarnim Agarwal" style="width:100%" />
					<p class="text-center">
						<strong>SVARNIM AGARWAL</strong>
					</p>
					<p class="text-center">Secretary</p>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/harshita.jpg" alt="Harshita Reddy" style="width:100%" />
					<p class="text-center">
						<strong>HARSHITA REDDY</strong>
					</p>
					<p class="text-center">Chairperson</p>
				</div>
			</div>

			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/meghana.jpg" alt="Meghana Rao" style="width:100%" />
					<p class="text-center">
						<strong>MEGHANA RAO </strong>
					</p>
					<p class="text-center">Vice-Chairperson</p>
				</div>
			</div>

			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/ramshankar.jpg" alt="Ramshankar Yadunath" style="width:100%" />
					<p class="text-center">
						<strong>RAMSHANKAR YADUNATH</strong>
					</p>
					<p class="text-center">Data Science SIG - Lead</p>
<<<<<<< HEAD
=======
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACMW/img/Team/member.jpg"
							alt="Ramshankar Yadunath"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>RAMSHANKAR YADUNATH</strong>
						</p>
						<p class="text-center">Data Science SIG - Lead</p>
					</div>
>>>>>>> Refactor
				</div>

				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACMW/img/Team/neelee.jpg"
							alt="Neelee Upadhay"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>NEELEE UPADHYAY</strong>
						</p>
						<p class="text-center">
							Competitive Programming SIG - Lead
						</p>
					</div>
				</div>

				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACMW/img/Team/aravind.jpg"
							alt="Aravind V. Nair"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>ARAVIND V. NAIR</strong>
						</p>
						<p class="text-center">Web Developmnt SIG - Lead</p>
					</div>
=======
>>>>>>> Minor fixes
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/neelee.jpg" alt="Neelee Upadhay" style="width:100%" />
					<p class="text-center">
						<strong>NEELEE UPADHYAY</strong>
					</p>
					<p class="text-center">
						Competitive Programming SIG - Lead
					</p>
				</div>
			</div>

			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/aravind.jpg" alt="Aravind V. Nair" style="width:100%" />
					<p class="text-center">
						<strong>ARAVIND V. NAIR</strong>
					</p>
					<p class="text-center">Web Developmnt SIG - Lead</p>
				</div>
			</div>

			<div class="col-sm-4">
				<br /><br />
				<div class="card">
					<img src="ACMW/img/Team/priyaa.jpg" alt="R. G. Priyaa Iyer" style="width:100%" />
					<p class="text-center">
						<strong>R. G. PRIYAA IYER</strong>
					</p>
					<p class="text-center">Lead Web Developer</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/malvika.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>MALVIKA RATHI</strong>
				</p>
				<p class="text-center">Lead Content Writer</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/shreya.jpg" alt="Shreya Iyer" style="width:100%" />
				<p class="text-center">
					<strong>SHREYA IYER</strong>
				</p>
				<p class="text-center">Web Development SIG Member</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/vaishnavi.jpg" alt="Vaishnavi M" style="width:100%" />
				<p class="text-center">
					<strong>VAISHNAVI M</strong>
				</p>
				<p class="text-center">Web Developemnt SIG Member</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>

		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
		</div>
		<div class="col-sm-4">
			<br /><br />
			<div class="card">
				<img src="ACMW/img/Team/member.jpg" alt="Malvika Rathi" style="width:100%" />
				<p class="text-center">
					<strong>NAME</strong>
				</p>
				<p class="text-center">Designation</p>
			</div>
<<<<<<< HEAD
>>>>>>> Refactor
=======
>>>>>>> Minor fixes
		</div>
	</div>
	</div>
	</div>
	<!-- Container (THE SIG@AMRITA SECTION) -->
	<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
</body>

</html>