<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ACM-W @ ASE-B</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="ACMW/css/ACMW_Members.css" />
	</head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img
						src="ACM/img/logo.png"
						class="d-inline-block align-top"
						width="170"
						,
						height="50"
					/>
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#myNavbar"
					>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="#home"
								>HOME<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#members">MEMBERS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#sig"
								>SIG @ AMRITA</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACW#events">EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Container (The CAROUSEL section-->
		<!--<div id="home">
		<br /><br /><img src="ACMW/img/team-image.png" alt="TEAM IMAGE" width="1600" height="500" />
		<h3 id="member">
			SCROLL DOWN TO MEET THE ENTIRE TEAM
		</h3>
		<div class="caption">
			<h3>TEAM PHOTO</h3>
			<p>
				<center>
					Here the photo of the entire ACM and ACM-W team will come
					up</center>
			</p>
		</div>
	</div>-->
		<!-- Container (The About Section) -->
		<!-- Container (THE TEAM SECTION) -->
		<div id="members" class="container text-center">
			<h3><strong>THE TEAM</strong></h3><br>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/supriya-m.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Ms. Supriya Chidambaram</strong><br>
						<strong>Faculty Mentor</strong><br>
						ACM / ACM-W
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/harshita.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Harshita Reddy Edugudi</strong><br>
						<strong>Chairperson</strong><br>
						ACM-W
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/meghana.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Meghana Rao Somepalli</strong><br>
						<strong>Vice-Chairperson</strong></br>
						ACM-W
					</p>
					<br />
				</div>
			</div><br>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Svarnim.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Svarnim Agarwal</strong><br>
						<strong>Secretary</strong><br>
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/shobanadri.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Shobanadri</strong><br>
						<strong>Treasurer</strong>
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/ramshankar.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Ramshankar Yadunath</strong><br>
						<strong>SIG Lead</strong><br>
						Data Science
					</p>
					<br />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/aravind.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Aravind V. Nair</strong><br>
						<strong>SIG Lead</strong><br>
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/neelee.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Neelee Upadhyay</strong><br>
						<strong>SIG Lead</strong><br>
						Competitve Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/priyaa.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>R.G.Priyaa Iyer</strong><br>
						<strong>Lead Web Developer</strong><br>
					</p>
					<br />
				</div>
			</div><br>




			<h3><strong>SIG MEMBERS</strong></h3><br>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/shreya.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Shreya Iyer</strong><br>
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/moulika.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>M L Sai Chandra Moulika</strong><br>
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/vaishnavi.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Vaishnavi M</strong><br>
						Web Development
					</p>
					<br />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/madhuri.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Ch. Sri Sai Madhuri</strong><br>
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/sahana.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sahana Shenoy</strong><br>
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Sneha.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sneha Balaji</strong><br>
						Data Science
					</p>
					<br />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Dipshika.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Dipshika Biswas</strong><br>
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Harshitha.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Harshitha Nagarajan</strong><br>
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Trisha.png"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Trisha Chander Chandrasekar</strong><br>
						Data Science
					</p>
					<br />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/satya.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Satya Bharathi</strong><br>
						Competitive Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/bhuvanashree.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Bhuvanashree Murugadoss</strong><br>
						Competitve Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/sree.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sreelekha Pabisetty</strong><br>
						Competitve Coding
					</p>
					<br />
				</div>
			</div>
			</div>

			</div>
		<!-- Container (THE SIG@AMRITA SECTION) -->
		<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
