<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ACM-W @ ASE-B</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="ACMW/css/ACMW_Members.css" />
	</head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img
						src="ACM/img/logo.png"
						class="d-inline-block align-top"
						width="170"
						,
						height="50"
					/>
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#myNavbar"
					>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="#home"
								>HOME<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#members">MEMBERS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#sig"
								>SIG @ AMRITA</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACW#events">EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Container (The CAROUSEL section-->
		<div id="home">
			<br /><br /><img
				src="ACMW/img/RECT.jpg"
				alt="New York"
				width="1600"
				height="650"
			/>
			<!--<div class="caption">
			<h3>TEAM PHOTO</h3>
			<p>
				<center>
					Here the photo of the entire ACM and ACM-W team will come
					up</center>
			</p>
		</div>-->
		</div>

		<!-- Container (The About Section) -->

		<!-- Container (THE TEAM SECTION) -->
		<div id="members" class="container text-center">
			<h3>THE TEAM</h3>
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Ms. Supriya Chidambaram"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>MS. SUPRIYA CHIDAMBARAM</strong>
						</p>
						<p class="text-center">Faculty Mentor</p>
						<!--<div style="margin: 24px 0;">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Harshita Reddy Edugudi"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>HARSHITA REDDY EDUGUDI</strong>
						</p>
						<p class="text-center">Chiarperson</p>
						<!--<div style="margin: 24px 0;">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Meghana Rao Somepalli"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>MEGHANA RAO SOMEPALLI</strong>
						</p>
						<p class="text-center">Vice-Chairperson</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Swarnim Agarwal"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>SWARNIM AGARWAL</strong>
						</p>
						<p class="text-center">Treasurer</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Aravind V. Nair"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>ARAVIND V. NAIR</strong>
						</p>
						<p class="text-center">Web Development (SIG) - Lead</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Ramshankar Yadunath"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>RAMSHANKAR YADUNATH</strong>
						</p>
						<p class="text-center">Data Science (SIG) - Lead</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Neelee Upadhay"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>NEELEE UPADHYAY</strong>
						</p>
						<p class="text-center">
							Competitive Programming (SIG) - Lead
						</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="R. G. Priyaa Iyer"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>R. G. PRIYAA IYER</strong>
						</p>
						<p class="text-center">Lead Web Developer</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(Social media links)</button></p>
					</div>
				</div>
				<div class="col-sm-4">
					<br /><br />
					<div class="card">
						<img
							src="ACM/img/food1.jpg"
							alt="Malvika Rathi"
							style="width:100%"
						/>
						<p class="text-center">
							<strong>MALVIKA RATHI</strong>
						</p>
						<p class="text-center">Lead Content Writer</p>
						<!--<div style="margin: 24px 0;">
						<a href="#" class="fa fa-linkedin"></a>
						<a href="#" class="fa fa-github"></a>
					</div>-->
						<p><button>Contact(social media link)</button></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Container (THE SIG@AMRITA SECTION) -->

		<%include contact.ejs%>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</body>
</html>
