<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ACM-W @ ASE-B</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="ACMW/css/ACMW_Members.css" />
	</head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img
						src="ACM/img/logo.png"
						alt="logo"
						class="d-inline-block align-top"
						width="170"
						,
						height="50"
					/>
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#myNavbar"
					>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="#home"
								>HOME<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#members">MEMBERS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#sig"
								>SIG @ AMRITA</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACW#events">EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Container (The CAROUSEL section-->
		<!--<div id="home">
		<br /><br /><img src="ACMW/img/team-image.png" alt="TEAM IMAGE" width="1600" height="500" />
		<h3 id="member">
			SCROLL DOWN TO MEET THE ENTIRE TEAM
		</h3>
		<div class="caption">
			<h3>TEAM PHOTO</h3>
			<p>
				<center>
					Here the photo of the entire ACM and ACM-W team will come
					up</center>
			</p>
		</div>
	</div>-->
		<div id="members" class="container text-center">
<<<<<<< HEAD
			<h3><strong>THE TEAM</strong></h3><br>
=======
			<h3><strong>THE TEAM</strong></h3>
			<br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/supriya-m.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Ms. Supriya Chidambaram</strong><br>
						<strong>Faculty Mentor</strong><br>
=======
						<strong>Ms. Supriya Chidambaram</strong><br />
						<strong>Facutly Mentor</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						ACM / ACM-W
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/harshita.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Harshita Reddy Edugudi</strong><br>
						<strong>Chairperson</strong><br>
=======
						<strong>Harshita Reddy Edugudi</strong><br />
						<strong>Chairperson</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						ACM-W
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/meghana.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Meghana Rao Somepalli</strong><br>
						<strong>Vice-Chairperson</strong></br>
=======
						<strong>Meghana Rao Somepalli</strong><br />
						<strong>Vice-Chairperson</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						ACM-W
					</p>
					<br />
				</div>
<<<<<<< HEAD
			</div><br>
=======
			</div>
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Svarnim.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Svarnim Agarwal</strong><br>
						<strong>Secretary</strong><br>
=======
						<strong>Svarnim Agarwal</strong><br />
						<strong>Secretary</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/shobanadri.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Shobanadri</strong><br>
=======
						<strong>Shobanadri</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						<strong>Treasurer</strong>
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/ramshankar.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Ramshankar Yadunath</strong><br>
						<strong>SIG Lead</strong><br>
						Data Science
					</p>
					<br />
				</div>
=======
						<strong>Ramshankar Yadunath</strong><br />
						<strong>SIG Lead</strong><br />
						Data Science
					</p>
					<br /><br />
				</div>
				<br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/aravind.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Aravind V. Nair</strong><br>
						<strong>SIG Lead</strong><br>
=======
						<strong>Aravind V. Nair</strong><br />
						<strong>SIG Lead</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/neelee.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Neelee Upadhyay</strong><br>
						<strong>SIG Lead</strong><br>
						Competitve Coding
=======
						<strong>Neelee Upadhyay</strong><br />
						<strong>SIG Lead</strong><br />
						Competitive Coding
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/priyaa.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>R.G.Priyaa Iyer</strong><br>
						<strong>Lead Web Developer</strong><br>
					</p>
					<br />
				</div>
			</div><br>




			<h3><strong>SIG MEMBERS</strong></h3><br>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/shreya.jpg"
=======
						<strong>R. G. Priyaa Iyer</strong><br />
						<strong>Lead Web Developer</strong><br />
					</p>
					<br />
				</div>
			</div>
			<br />

			<h3><strong>SIG MEMBERS</strong></h3>
			<br />
			<br />
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/WD/vaishnavi.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Vaishnavi M</strong><br />
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/WD/Moulika.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>M L Sai Chandra Moulika</strong><br />
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/WD/shreya.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Shreya Iyer</strong><br />
						Web Development
					</p>
					<br />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/DS/dipshika.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Shreya Iyer</strong><br>
						Web Development
=======
						<strong>Dipshika Biswas</strong><br />
						Data Science
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/moulika.jpg"
=======
						src="/ACMW/img/Team/DS/harshitha.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>M L Sai Chandra Moulika</strong><br>
						Web Development
=======
						<strong>Harshitha Nagarajan</strong><br />
						Data Science
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/vaishnavi.jpg"
=======
						src="/ACMW/img/Team/DS/madhuri.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Vaishnavi M</strong><br>
						Web Development
=======
						<strong>Ch. Sri Sai Madhuri</strong><br />
						Data Science
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
			</div>
<<<<<<< HEAD
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/madhuri.jpg"
=======
			<br />
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/DS/sahana.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Ch. Sri Sai Madhuri</strong><br>
=======
						<strong>Sahana Shenoy</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/sahana.jpg"
=======
						src="/ACMW/img/Team/DS/sneha.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Sahana Shenoy</strong><br>
=======
						<strong>Sneha Balaji</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/Sneha.jpg"
=======
						src="/ACMW/img/Team/DS/trisha.png"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Sneha Balaji</strong><br>
=======
						<strong>Trisha Chander Chandrashekar</strong><br />
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						Data Science
					</p>
					<br />
				</div>
			</div>
<<<<<<< HEAD
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Dipshika.jpg"
=======
			<br />
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/CC/bhuvanashree.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Dipshika Biswas</strong><br>
						Data Science
=======
						<strong>Bhuvanashree Muruagadoss</strong><br />
						Competitive Coding
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/Harshitha.jpg"
=======
						src="/ACMW/img/Team/CC/satya.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Harshitha Nagarajan</strong><br>
						Data Science
=======
						<strong>Satya Bharathi</strong><br />
						Competitve Coidng
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
<<<<<<< HEAD
						src="/ACMW/img/Team/Trisha.png"
=======
						src="/ACMW/img/Team/CC/sreelekha.jpg"
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
<<<<<<< HEAD
						<strong>Trisha Chander Chandrasekar</strong><br>
						Data Science
=======
						<strong>Sreelekha Pabisetty</strong><br />
						Competitve Coidng
>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
					</p>
					<br />
				</div>
			</div>
<<<<<<< HEAD
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/satya.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Satya Bharathi</strong><br>
						Competitive Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/bhuvanashree.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Bhuvanashree Murugadoss</strong><br>
						Competitve Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/sree.jpg"
						class="img-circle"
						alt="Random Name"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sreelekha Pabisetty</strong><br>
						Competitve Coding
					</p>
					<br />
				</div>
			</div>
			</div>

			</div>
=======
			<br />

			<!--<h3><strong>WEB DEVELOPEMNT SIG MEMBERS</strong></h3><br>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sirisha Rao</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Manogna Jutur</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/WD/Moulika.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>M L Sai Chandra Moulika</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Shruti Palani</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/WD/vaishnavi.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Vaishnavi M</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Kazima Ifrah</strong><br>
				</p>
				<br />
			</div>
		</div>
		<br>



		
		<h3><strong>COMPETITIVE CODING SIG MEMBERS</strong></h3><br>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Shruthi</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>P. Priya</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Kaazima Ifrah</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>O. N. Lalasa</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Bhuvana</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>B. Srilekha</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>A. Bhumika</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>C. Jahnavi</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sreelekha</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Malavika</strong><br>
				</p>
				<br />
			</div>
		</div>
		<br>



		<h3><strong>DATA SCIENCE SIG MEMBERS</strong></h3><br>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/sahana_trupti.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sahana Shenoy</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Rishika</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/trisha.png" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Trisha Chander</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sonaakshi K</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Preethi Reddy</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Mallika Reddy</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Bhuvana</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>C. Harshitha</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Hema C.</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/sneha_balaji.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sneha Balaji</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/dipshika_biswas.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Dipshika Biswas</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/harshitha_nag.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Harshitha Nagarajan</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sai Lasya K.</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Harshitha</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/Team/DS/madhuri.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Ch. Sri Sai Madhuri</strong><br>
				</p>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Haripriya D.</strong><br>
				</p>
				<br />
			</div>
			<!--<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Harshitha</strong><br>
				</p>
				<br />
			</div>
			<div class="col-sm-4">
				<img src="/ACMW/img/RECT.jpg" class="img-circle" alt="Random Name" width="150" height="150" />
				<p class="text-center">
					<strong>Sri Sai Madhuri</strong><br>
				</p>
				<br />
			</div>-->
		</div>
		<br />

>>>>>>> cd570b91349dcee5e390a498936825ccd8fd8429
		<!-- Container (THE SIG@AMRITA SECTION) -->
		<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>