<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ACM-W Amrita Bengaluru</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/ACMW/css/index.css" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img
						src="/ACM/img/logo.png"
						class="d-inline-block align-top"
						width="170"
						alt="ACM logo"
						height="50"
					/>
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#myNavbar"
					>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="/ACMW"
								>HOME<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#members">MEMBERS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#sig"
								>SIG @ AMRITA</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACW#events">EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<h2 style="text-align: center;">ACM - Competitive Coding SIG</h2>
			<br />
			<img  style="margin-left: 350px;"  src="/ACMW/img/CP.png" alt="WEB DEVELOPMENT" height="200" width="200">
			<br />
			<br />
		<p>
			<strong><em>What ia Competitive Coding?</em></strong>
			<br />
			Competitive coding is a competitive mind sport in the field of
			computer science. It is a programming competition or event in which
			the host presents the participants with a set of logical and
			mathematical problems, and the participants are required to
			formulate an algorithm or a computer program that is most efficient
			to solve the problems. The winner is declared based on the
			efficiency of the program, time of execution, quality of output,
			memory size, problems solved and the likes. The main aim of this
			coding event is to write an efficient source code for a problem
			under certain time constraints.
			<br />
			<br />
			<strong><em>Importance of Competitive Coding</em></strong>
			<br />
			Develops logical thinking with continuous practice one can improve their programming logic
			which is by far the backbone of software development industry. Makes
			you more focused, faster and sharper. In the event, you are expected
			to solve problems in stressful and tense situations and find an
			optimal solution for the problem before the deadline. Therefore by
			participating in this event you will learn to be focused which helps
			you to generate the most efficient code. Provides help to solve
			complicated problems. In the coding event, the participants are
			tested with complicated problems that require a lot of thinking. By
			committed training and consistency one can learn how to encounter
			complicated tasks. Teaches you the importance of teamwork.
			Competitive coding helps the participants to understand the
			importance of teamwork and also helps us to learn how to work in a
			team. It helps to understand and assess the team members strengths
			and weakness which helps the participants to divide work for
			efficient result.
			<br />
			<br />
			<strong><em>ACM Competitive Coding SIG at ASEB</em></strong>
			<br />
			ACM and ACM-W Student chapters in collaboration with Code chef bring
			to you the opportunity to be a part of the Competitive Coding
			Student Interest Group( ACM Competitive Coding ) for the year
			2019-2020. The Competitive Coding SIG at Amrita School of
			Engineering was created as a platform to help programmers make it
			big in the world of algorithms, computer programming, and
			programming contests. In this SIG we revive the geek in you by
			hosting various programming contests. We also aim to have training
			sessions and discussions related to algorithms, technicalities,
			various programming techniques like binary search, insertion sort
			and likes. Apart from providing a platform for programming
			competitions, the SIG at Amrita School of Engineering provides
			various tutorials, interactive discussions, and practical experience
			to help those who are new to the world of computer programming. In
			addition to this, monthly coding competition is conducted for the
			students to revive the geek in them. Thus, Competitive Coding SIG at
			Amrita Student Chapter aims to provide a platform for young
			programming minds to explore into the world of programming
			professionals.
		</p>
		</div>
		<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
