<!-- Container (THE CONTACT SECTION)  -->
<div id="contact">
	<footer class="page-footer font-small text-dark">
		<!-- Top section -->
		<div class="container text-left text-md-left">
			<div class="row">
				<!-- Left Section -->
				<div class="col-md-6 mt-md-0">
					<h5 class="text-uppercase font-weight-bold">
						Address
					</h5>
					<p>
						Amrita Vishwa Vidyapeetham<br />
						Bengaluru Campus<br />
						Kasavanahalli, Carmelaram P.O.<br />
						Bengaluru - 560 035<br />
						Karnataka, India
					</p>
				</div>
				<!-- End of Left Section -->
				<!-- Right Section -->
				<div class="col-md-6 text-right mb-md-0">
					<h5 class="text-uppercase font-weight-bold">
						<p>
							Phone Number:
							<a href="tel:+918025183700">080 2518 3700</a>
							<br />Email ID:
							<a href="mailto:amritaface@gmail.com"
								>amritaface@gmail.com
							</a>
						</p>
						<hr class="clearfix w-100 d-md-none" />
						<div class="footer-copyright text-center">
							&copy; 2019 Copyright <br />| ACM-W Student Chapter
							- Amrita School of Engineering |
						</div>
					</h5>
					<br />
					<br />
				</div>
				<br />
			</div>
			<div class="text-center mb-md-0">
				<br />
				<div class="footer-copyright text-center">
					| Made and maintained with
					<i class="fa fa-heart" aria-hidden="true"></i>
					by
					<a
						href="https://www.linkedin.com/in/r-g-priyaa-37432b188/"
						target="_blank"
						rel="noopener"
						>Priyaa Iyer</a
					>
					,
					<a
						href="https://linkedin.com/in/shreya-iyer-1304"
						target="_blank"
						rel="noopener"
						>Shreya Iyer</a
					>
					and
					<a
						href="https://linkedin.com/in/harish-r-k-44708a190/"
						target="_blank"
						rel="noopener"
					>
						R K Subaharish</a
					>
					|
				</div>
			</div>
		</div>
	</footer>
</div>
