<!-- Container (THE CONTACT SECTION)  -->
<div id="contact">
	
		<h3 class="text-center">CONTACT US</h3>
		<footer class="page-footer font-small text-dark pt-4">
			<!-- Top section -->
			<div class="container text-left text-md-left">
				<div class="row">
					<!-- Left Section -->
					<div class="col-md-6 mt-md-0 mt-3">
						<h5 class="text-uppercase font-weight-bold">
							Address
						</h5>
						<p>
							Amrita Vishwa Vidyapeetham<br />
							Bengaluru Campus<br />
							Kasavanahalli, Carmelaram P.O.<br />
							Bengaluru - 560 035<br />
							Karnataka, India
						</p>
					</div>
					<!-- End of Left Section -->
					<!--<hr class="clearfix w-100 d-md-none pb-3" /> -->
					<!-- Right Section -->
					<div class="col-md-6 text-right mb-md-0 mb-3">
						<h5 class="text-uppercase font-weight-bold">
							<!--<h5>CONTACT US</h5>-->
							<p>
								Phone Number:
								<a href="tel:+918025183700">080 2518 3700</a>
								<br />Email ID:
								<a href="mailto:amritaface@gmail.com"
									>amritaface@gmail.com
								</a>
							</p>
							<hr class="clearfix w-100 d-md-none pb-3" />
							<div class="footer-copyright text-center py-3">
								&copy; 2019 Copyright <br />| ACM-W Student
								Chapter - Amrita School of Engineering |
							</div>
						</h5>
						<br />
						<br />
					</div>
					<br />
					<div class="text-center mb-md-0 mb-5">
						<br />
						<br />
						<div class="footer-copyright text-center py-3">
							| Made and maintained with
							<i class="fa fa-heart"></i> by Priyaa Iyer |
						</div>
					</div>
				</div>
			</div>
		</footer>
	
</div>
