<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ACM-W Amrita Bengaluru</title>
		<%- include('meta.ejs') -%>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/ACMW/css/index.css" />
	</head>
	<body>
		<%- include('nav.ejs') -%>
		<div class="container">
			<h2 style="text-align: center;">ACM - DATA SCIENCES SIG</h2>
			<br />
			<img  style="margin-left: 350px;"  src="/ACMW/img/DS.png" alt="WEB DEVELOPMENT" height="200" width="200">
			<br />
			<br />
		<p>
			<strong><em>Why Data Science?</em></strong>
			<br />
			Data is the fuel to many industries and data science is the
			electricity that powers the industry. The substantial increase of
			data in the past 5 to 8 years has brought up a need for machine
			learning algorithms and artificial agents to computing processes
			simpler. Data Science is the art of collecting data from various
			sources, storing it into a structured manner and using the organized
			data to predict the demands, trends and help the business to achieve
			its goals. There are important uses of data science like image
			recognition, speech recognition, digital advertising and a lot more.
			<br />
			<br />
			<strong><em>Why Data Science?</em></strong>
			<br />
			The report from TDWI Research says that “46%of organizations cite
			inadequate staffing or skills for Big data analytics.” It is vital
			to get trained in data science to handle and analyze extremely large
			datasets using cutting edge open source tools and sophisticated data
			analysis algorithm.
			<br />
			<br />
			<strong><em>What we do at ACM?</em></strong>
			<br />
			We at ACM Amrita Student Chapter bring forth the ACM Data Science
			SIG which focuses on learning specific efficient learning algorithms
			and implementing them in real life with the help of sample data.
			This learning will encourage you to build artificial Agents which
			will make your work easier. We here learn the math and code that
			goes into algorithms. At last but not least we learn, unlearn,
			relearn and implement.
		</p>
		</div>
		<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
