<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ACM-W Amrita Bengaluru</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/ACMW/css/index.css" />
	</head>
	<body>
		<h2>ACM - DATA SCIENCES SIG</h2>
		<p>
			<em>Why Data Science?</em>
			Data is the fuel to many industries and data science is the
			electricity that powers the industry. The substantial increase of
			data in the past 5 to 8 years has brought up a need for machine
			learning algorithms and artificial agents to computing processes
			simpler. Data Science is the art of collecting data from various
			sources, storing it into a structured manner and using the organized
			data to predict the demands, trends and help the business to achieve
			its goals. There are important uses of data science like image
			recognition, speech recognition, digital advertising and a lot more.
			<em>Why Data Science?</em>
			The report from TDWI Research says that “46%of organizations cite
			inadequate staffing or skills for Big data analytics.” It is vital
			to get trained in data science to handle and analyze extremely large
			datasets using cutting edge open source tools and sophisticated data
			analysis algorithm.
			<em>What we do at ACM?</em>
			We at ACM Amrita Student Chapter bring forth the ACM Data Science
			SIG which focuses on learning specific efficient learning algorithms
			and implementing them in real life with the help of sample data.
			This learning will encourage you to build artificial Agents which
			will make your work easier. We here learn the math and code that
			goes into algorithms. At last but not least we learn, unlearn,
			relearn and implement.
		</p>
	</body>
	<div id="contact">
		<div class="container-fluid">
			<h3 class="text-center">CONTACT US</h3>
			<footer class="page-footer font-small text-dark pt-4">
				<!-- Top section -->
				<div class="container text-left text-md-left">
					<div class="row">
						<!-- Left Section -->
						<div class="col-md-6 mt-md-0 mt-3">
							<h5 class="text-uppercase font-weight-bold">
								Address
							</h5>
							<p>
								Amrita Vishwa Vidyapeetham<br />
								Bengaluru Campus<br />
								Kasavanahalli, Carmelaram P.O.<br />
								Bengaluru - 560 035<br />
								Karnataka, India
							</p>
						</div>
						<!-- End of Left Section -->
						<!--<hr class="clearfix w-100 d-md-none pb-3" /> -->
						<!-- Right Section -->
						<div class="col-md-6 text-right mb-md-0 mb-3">
							<h5 class="text-uppercase font-weight-bold">
								<h5>CONTACT US</h5>
								<p>
									Phone Number:
									<a href="tel:+918025183700">080 2518 3700</a
									><br />
									Email ID:
									<a href="mailto:amritaface@gmail.com"
										>amritaface@gmail.com
									</a>
								</p>
								<hr class="clearfix w-100 d-md-none pb-3" />
								<div class="footer-copyright text-center py-3">
									&copy; 2019 Copyright| ACM-W Student Chapter
									- Amrita School of Engineering
								</div>
							</h5>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</html>
