<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('meta.ejs') -%>
		<title>ACM-W @ ASE-B</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/ACMW/css/members.css" />
	</head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
		<%- include('nav.ejs') -%>
		<!-- Container (The CAROUSEL section-->
		<!--<div id="home">
		<br /><br /><img src="ACMW/img/team-image.png" alt="TEAM IMAGE" width="1600" height="500" />
		<h3 id="member">
			SCROLL DOWN TO MEET THE ENTIRE TEAM
		</h3>
		<div class="caption">
			<h3>TEAM PHOTO</h3>
			<p>
				<center>
					Here the photo of the entire ACM and ACM-W team will come
					up</center>
			</p>
		</div>
	</div>-->
		<!-- Container (The About Section) -->
		<!-- Container (THE TEAM SECTION) -->
		<!-- <div id="members" class="container text-center">
			<h3><strong>THE TEAM</strong></h3><br>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/supriya-m.jpg"
					/> -->
		<div id="members" class="container text-center">
			<h3><strong>SIG MEMBERS</strong></h3>
			<br />

			<div class="row">
				<div class="col-sm-4">
					<img
						src="/images/team_1920/priyaa.jpg"
						class="img-circle"
						alt="R.G.Priyaa Iyer"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>R.G.Priyaa Iyer</strong><br />
						Lead Web Developer<br />
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACM/img/members/shreya.jpg"
						class="img-circle"
						alt="Shreya Iyer"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Shreya Iyer</strong><br />
						Web Development
					</p>
					<br />
				</div>

				<div class="col-sm-4">
					<img
						src="/ACM/img/members/moulika.jpg"
						class="img-circle"
						alt="M L Sai Chandra Moulika"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>M L Sai Chandra Moulika</strong><br />
						Web Development
					</p>
					<br />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACM/img/members/vaishnavi.jpg"
						class="img-circle"
						alt="Vaishnavi M"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Vaishnavi M</strong><br />
						Web Development
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/images/team_1920/madhuri.jpg"
						class="img-circle"
						alt="Ch. Sri Sai Madhuri"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Ch. Sri Sai Madhuri</strong><br />
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/images/team_1920/sahana.jpg"
						class="img-circle"
						alt="Sahana Shenoy"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sahana Shenoy</strong><br />
						Data Science
					</p>
					<br />
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Dipshika.jpg"
						class="img-circle"
						alt="Dipshika Biswas"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Dipshika Biswas</strong><br />
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Sneha.jpg"
						class="img-circle"
						alt="Sneha Balaji"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sneha Balaji</strong><br />
						Data Science
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Harshitha.jpg"
						class="img-circle"
						alt="Harshitha Nagarajan"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Harshitha Nagarajan</strong><br />
						Data Science
					</p>
					<br />
				</div>
			</div>
			<br />
			
			<div class="row">
				<div class="col-sm-4">
					<br/>
					<img
						src="/ACMW/img/Team/Trisha.png"
						class="img-circle"
						alt="Trisha Chander Chandrasekar"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Trisha Chander Chandrasekar</strong><br />
						Data Science
					</p>
					<br />
				</div>
				<br />
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/Satya.jpg"
						class="img-circle"
						alt="Satya Bharathi"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Satya Bharathi</strong><br />
						Competitive Coding
					</p>
					<br />
				</div>
				<div class="col-sm-4">
					<img
						src="/ACMW/img/Team/sree.jpg"
						class="img-circle"
						alt="Sreelekha Pabisetty"
						width="150"
						height="150"
					/>
					<p class="text-center">
						<strong>Sreelekha Pabisetty</strong><br />
						Competitive Coding
					</p>
					<br />
				</div>
			</div>
		</div>
		
		<!-- Container (THE SIG@AMRITA SECTION) -->
		<%- include('contact.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
