<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img
                src="/ACM/img/logos/logo.png"
                class="d-inline-block align-top"
                width="170"
                alt="ACM logo"
                height="50"
            />
            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#myNavbar"
            >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-center">
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW"
                        >HOME<span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW#members">MEMBERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW#sig"
                        >SIG @ AMRITA</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW#events">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ACMW#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>