<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ACM-W @ ASE-B</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="ACMW/css/SIG.css" />
	</head>

	<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<img
						src="ACM/img/logo.png"
						class="d-inline-block align-top"
						width="170"
						alt="ACM logo"
						height="50"
					/>
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#myNavbar"
					>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#myPage">Logo</a> -->
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-center">
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#home"
								>HOME<span class="sr-only">(current)</span></a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#members">MEMBERS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#sig">SIG @ AMRITA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ACMW#events">EVENTS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Container (The SIG Section) -->
		<div id="sig" class="container">
			<h4>
				ACM SELF INTEREST GROUPS (SIGs) : BACKBONE IN THE FIELD OF
				COMPUTER SCIENCE
			</h4>
			<p>
				ACM Special Interest Groups also called as ACM SIG’s is a
				community that work to develop and research on various fields in
				computer science technology like web development, data sciences,
				coding, artificial intelligence, graphics and few more exciting
				fields for growth of computer science technology.ACM carries
				most of its works through Self Interest Groups in the field of
				computer science. ACM SIG’s play a vital role in educating and
				providing them knowledge about computer science technology. They
				help their members to compete with the growing technology in
				this digital age. They publish newsletters and magazines,
				encourage excellence through multiple recognition programs, and
				organize conferences and activities on a local-to-global scale.
				<br />
			</p>
			<br /><br /><br />

			<h4>ACM SIGs @ AMRITA SCHOOL OF ENGINEERING - BENGALURU</h4>
			<p>
				As the world progresses on in this never ending chase for time
				and wealth, it is undeniable that science has made astounding
				developments. The need of human computer interaction is much
				needed for further evolvement of computer science technology.
				Human-computer interaction is the study, planning and design of
				the interaction between people and computers. It is a discipline
				concerned with the design, evaluation and implementation of
				interactive computing systems for human use and with the study
				of major phenomena surrounding them. The Self interest
				group’s(SIG’s) at Amrita school of engineering works with this
				motto. The SIG’s at Amrita provide a platform to help young
				budding computer aspirants to make it into the big world of
				computer science technology. This is achieved by conducting
				various informative workshops, discussions, interactive
				sessions, various competitions, skill training sessions,
				tutorials and practical experience to revive the geek in you.
				They offer opportunities for networking with colleagues, staying
				connected to peers and negotiating the strategic challenges of
				the digital age. The self interest groups present in Amrita
				School of Engineering are:
			</p>
			<ul>
				<li><b>ACM WEB DEVELOPMENT SIG</b></li>
				<li><b>ACM COMPETITIVE CODING SIG</b></li>
				<li><b>ACM DATA SCIENCE SIG</b></li>
			</ul>
			<p>
				All the three SIG’s at Amrita School of Engineering Bangalore
				work in tandem to share, enlighten and teach all the members of
				the SIG about computer science technology and it’s application.
				<br />
			</p>
			<br /><br /><br />

			<h4>
				ROLE OF SELF INTEREST GROUPS IN AMRITA SCHOOL OF ENGINEERING
			</h4>
			<p>
				The main role of SIG’s is to teach its members about the
				computer science technology, the role it plays in our day to day
				life and the contribution we can make for the further growth of
				the field. They help the members in following ways:
			</p>
			<ul>
				<li>
					To think about and conceptualizing computational and
					math-related problems and challenges.
				</li>
				<li>
					Developing of new techniques or solve practical computing
					problems.
				</li>
				<li>
					Research on experimentation, modeling and new areas in
					computer science technology.
				</li>
				<li>
					Studying, experimenting and investigating technological
					fields such as artificial intelligence, robotics and virtual
					reality
				</li>
				<li>
					Seeking to improve the performance of existing computer
					systems and software
				</li>
				<li>
					Developing new hardware or computing techniques and
					materials
				</li>
			</ul>
			<br /><br /><br />
			<p id="sig">
				Click on the links below to know more about our SIGs.
			</p>
			<div class="row text-center">
				<div class="col-sm-4">
					<div class="ACM/img/thumbnail">
						<br /><img
							src="WD.png"
							alt="WEB DEVELOPMENT"
							width="100"
							height="100"
						/>
						<!--<p><strong>WEB DEVELOPMENT</strong></p>
                        <p class="card-text">
                            Click on the link below to know more about the Web Developemnt SIG at Amrita School of
                            Engineering, Bengaluru.
                        </p>-->
						<br /><br />
						<a href="/ACMW/WebDevelopment" class="btn btn-primary"
							>Web Development SIG</a
						>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="ACM/img/thumbnail">
						<br /><img
							src="CP.png"
							alt="COMPETITIVE CODING "
							width="100"
							height="100"
						/>
						<!--<p><strong>COMPETITIVE CODING</strong></p>
                        <p class="card-text">
                            Click on the link below to know more about the Competitive Coding SIG at Amrita School of
                            Engineering, Bengaluru.
                        </p>-->
						<br /><br />
						<a href="/ACMW/CompetitiveCoding" class="btn btn-primary"
							>Competitive Coding SIG</a
						>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="ACM/img/thumbnail">
						<br /><img
							src="DS.png"
							alt="DATA SCIENCES"
							width="100"
							height="100"
						/>
						<!--<p><strong>DATA SCIENCES</strong></p>
                        <p class="card-text">
                            Click on the link below to know more about the Data Science SIG at Amrita School of Engineering,
                            Bengaluru.
                        </p>-->
						<br /><br />
						<a href="/ACMW/DataScience" class="btn btn-primary"
							>Data Science SIG</a
						>
					</div>
					<br />
				</div>
			</div>
		</div>
	</body>
</html>
