<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Owl Carousel CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Serif&display=swap"
			rel="stylesheet"
		/>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/ACM/css/ACM_SIG.css" />
		<title>ACM Amrita Bengaluru</title>
	</head>

	<body
		class="bg-light"
		data-spy="scroll"
		data-target=".navbar"
		data-offset-top="200"
	>
		<%- include('nav.ejs') -%>
		<!-- container -->
		<div class="container">
			<div class="behindNav"></div>
			<div class="jumbotron jumbotron-fluid mt-4">
				<div class="container clearfix">
					<h1 class="display-4">ACM Data Science SIG</h1>
				</div>
			</div>
			<div class="sigLogo">
				<img src="/ACMW/img/DS.png" alt="ACM Data Science" />
			</div>
			<!--Introduction -->
			<div id="home" class="pt-2 mb-3">
				<!-- ACM-W Intro -->
				<div class="card mb-5 bg-light">
					<div class="row no-gutters">
						<div
							class="col-md-4 d-flex align-items-center order-1 order-md-1"
						>
							<!-- <img src="/ACMW/img/ACMW.png" class="card-img p-5" alt="..." /> -->
						</div>
						<div
							class="col-12 col-md-8 d-flex align-items-center order-0 order-md-0"
						>
							<div class="card-body">
								<h5 class="card-title ptext head">
									What is Data Science?
								</h5>
								<p class="card-text">
									Data is the fuel to many industries and data
									science is the electricity that powers the
									industry. The substantial increase of data
									in the past 5 to 8 years has brought up a
									need for machine learning algorithms and
									artificial agents to computing processes
									simpler.
								</p>
								<p class="card-text">
									Data Science is the art of collecting data
									from various sources, storing it into a
									structured manner and using the organized
									data to predict the demands, trends and help
									the business to achieve its goals. There are
									important uses of data science like image
									recognition, speech recognition, digital
									advertising and a lot more.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End of ACM-W Intro -->
				<!-- ACM Intro -->
				<div class="card bg-light mb-3">
					<div class="card-body ">
						<h5 class="card-title ptext head">
							Why is Data Science important for students?
						</h5>
						<p class="card-text">
							The report from TDWI Research says that “46%of
							organizations cite inadequate staffing or skills for
							Big data analytics.” It is vital to get trained in
							data science to handle and analyze extremely large
							datasets using cutting edge open source tools and
							sophisticated data analysis algorithm
						</p>
					</div>
				</div>
				<!-- End of ACM Intro -->
			</div>
			<!-- ACM Intro -->
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title ptext head">
						What we do at ACM Data Science SIG?
					</h5>
					<p class="card-text">
						We at ACM Amrita Student Chapter bring forth the ACM
						Data Science SIG which focuses on learning specific
						efficient learning algorithms and implementing them in
						real life with the help of sample data. This learning
						will encourage you to build artificial Agents which will
						make your work easier. We here learn the math and code
						that goes into algorithms.
					</p>
				</div>
			</div>
			<!-- End of ACM Intro -->
			<!-- End of home -->
			<a href="#" style="text-decoration: none;"
				><button
					type="button"
					class="btn btn-outline-primary btn-lg btn-block mb-5"
				>
					Join ACM Data Science SIG now
				</button></a
			>
		</div>
		<!-- end of container -->

		<%- include('footer.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
