<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('meta.ejs') -%>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<!-- Font Awesome CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Serif&display=swap"
			rel="stylesheet"
		/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/ACM/css/SIG.css" />
		<title>ACM Amrita Bengaluru</title>
	</head>

	<body
		class="bg-light"
		data-spy="scroll"
		data-target=".navbar"
		data-offset-top="200"
	>
		<%- include('nav.ejs') -%>
		<!-- container -->
		<div class="container">
			<div class="behindNav"></div>
			<div class="jumbotron jumbotron-fluid mt-4">
				<div class="container-fluid clearfix pl-1">
					<h1
						class="display-4"
						style="font-size: 48px; padding-left: 0%;"
					>
						ACM Competitive Coding SIG
					</h1>
				</div>
			</div>
			<div class="sigLogo">
				<img src="/ACMW/img/CP.png" alt="ACM Competitive Coding" />
			</div>
			<!--Introduction -->
			<div id="home" class="pt-2 mb-3">
				<!-- What is Competitive Coding -->
				<div class="card mb-5 bg-light">
					<div class="row no-gutters">
						<div
							class="col-md-4 d-flex align-items-center order-1 order-md-1"
						>
							<!-- <img src="/ACMW/img/ACMW.png" class="card-img p-5" alt="..." /> -->
						</div>
						<div
							class="col-12 col-md-8 d-flex align-items-center order-0 order-md-0"
						>
							<div class="card-body">
								<h5 class="card-title ptext head">
									What is Competitive Coding?
								</h5>
								<p class="card-text">
									Competitive coding is a competitive mind
									sport in the field of computer science. It
									is a programming competition or event in
									which the host presents the participants
									with a set of logical and mathematical
									problems, and the participants are required
									to formulate an algorithm or a computer
									program that is most efficient to solve the
									problems. The winner is declared based on
									the efficiency of the program, time of
									execution, quality of output, memory size,
									problems solved and the likes. The main aim
									of this coding event is to write an
									efficient source code for a problem under
									certain time constraints.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End of What is Competitive Coding -->
				<!-- Why Competitive Coding -->
				<div class="card bg-light mb-3">
					<div class="card-body ">
						<h5 class="card-title ptext head">
							Why is Competitive Coding important for students?
						</h5>
						<ol>
							<li>
								<strong>Develops logical thinking</strong><br />
								<p>
									With continuous practice one can improve
									their programming logic which is by far the
									backbone of software development industry.
								</p>
							</li>
							<li>
								<strong
									>Makes you more focused, faster and
									sharper</strong
								><br />
								<p>
									In the event, you are expected to solve
									problems in stressful and tense situations
									and find an optimal solution for the problem
									before the deadline. Therefore by
									participating in this event you will learn
									to be focused which helps you to generate
									the most efficient code.
								</p>
							</li>
							<li>
								<strong
									>Provides help to solve complicated
									problems</strong
								><br />
								<p>
									In the coding event, the participants are
									tested with complicated problems that
									require a lot of thinking. By committed
									training and consistency one can learn how
									to encounter complicated tasks.
								</p>
							</li>
							<li>
								<strong
									>Teaches you the importance of
									teamwork</strong
								><br />
								<p>
									Competitive coding helps the participants to
									understand the importance of teamwork and
									also helps us to learn how to work in a
									team. It helps to understand and assess the
									team members strengths and weakness which
									helps the participants to divide work for
									efficient result
								</p>
							</li>
						</ol>
					</div>
				</div>
				<!-- End of Why Competitive Coding -->
			</div>
			<!-- What we do at Competitive Coding -->
			<div class="card bg-light mb-3">
				<div class="card-body">
					<h5 class="card-title ptext head">
						What we do at ACM Competitive Coding SIG?
					</h5>
					<p class="card-text">
						ACM and ACM-W Student chapters in collaboration with
						Code chef bring to you the opportunity to be a part of
						the Competitive Coding Student Interest Group( ACM
						Competitive Coding ) for the year 2019-2020. The
						Competitive Coding SIG at Amrita School of Engineering
						was created as a platform to help programmers make it
						big in the world of algorithms, computer programming,
						and programming contests. In this SIG we revive the geek
						in you by hosting various programming contests.
					</p>
					<p class="card-text">
						We also aim to have training sessions and discussions
						related to algorithms, technicalities, various
						programming techniques like binary search, insertion
						sort and likes. Apart from providing a platform for
						programming competitions, the SIG at Amrita School of
						Engineering provides various tutorials, interactive
						discussions, and practical experience to help those who
						are new to the world of computer programming. In
						addition to this, monthly coding competition is
						conducted for the students to revive the geek in them.
						Thus, Competitive Coding SIG at Amrita Student Chapter
						aims to provide a platform for young programming minds
						to explore into the world of programming professionals.
					</p>
				</div>
			</div>
			<!-- End of What we do at Competitive Coding -->
			<a
				href="https://forms.gle/qTBXBYtLVijg2L8H7"
				target="_blank"
				rel="noopener"
				rel="noopener"
				rel="noopener"
				style="text-decoration: none;"
				><button
					type="button"
					class="btn btn-outline-primary btn-lg btn-block mb-5"
				>
					Join ACM Competitive Coding SIG now
				</button></a
			>
		</div>
		<!-- end of container -->
		<%- include('footer.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
