<!-- Footer -->
<footer class="page-footer font-small text-dark pt-4 footer">
	<!-- Top section -->
	<div class="container text-center text-md-left">
		<div class="row">
			<!-- Left Section -->
			<div class="col-md-6 mt-md-0 mt-3">
				<h5 class="text-uppercase font-weight-bold">
					Address
				</h5>
				<p>
					Amrita Vishwa Vidyapeetham<br />
					Bengaluru Campus<br />
					Kasavanahalli, Carmelaram P.O.<br />
					Bengaluru - 560 035<br />
					Karnataka, India
				</p>
			</div>
			<!-- End of Left Section -->
			<hr class="clearfix w-100 d-md-none pb-3" />
			<!-- Right Section -->
			<div class="col-md-6 text-right mb-md-0 mb-3">
				<h5 class="text-uppercase font-weight-bold">
					Contact Us
				</h5>
				<p>
					Phone Number: 080 2518 3700<br />
					Email ID:
					<a href="mailto:amritaface@gmail.com"
						>amritaface@gmail.com</a
					>
				</p>
			</div>
			<!-- End of Right Section -->
		</div>
	</div>
	<!-- End of Top section -->
	<!-- Bottom center section -->
	<div class="footer-copyright text-center py-3">
		&copy; 2019 Copyright | ACM Student Chapter - Amrita School of
		Engineering | Made with <i class="fa fa-heart" aria-hidden="true"></i> by Vinayak Tekade and Subaharish
	</div>
	<!-- End of Bottom center section -->
</footer>
<!-- End of footer -->
