<!-- Footer -->
<footer class="page-footer font-small text-dark pt-4 footer">
	<!-- Top section -->
	<div class="container text-center text-md-left">
		<div class="row">
			<!-- Left Section -->
			<div class="col-md-6 mt-md-0 mt-3 text-center text-md-left">
				<h5 class="text-uppercase font-weight-bold">
					Address
				</h5>
				<p>
					Amrita Vishwa Vidyapeetham<br />
					Bengaluru Campus<br />
					Kasavanahalli, Carmelaram P.O.<br />
					Bengaluru - 560 035<br />
					Karnataka, India
				</p>
			</div>
			<!-- End of Left Section -->
			<hr class="clearfix w-100 d-md-none pb-3" />
			<!-- Right Section -->
			<div class="col-md-6 text-center text-md-right mb-md-0 mb-3">
				<h5 class="text-uppercase font-weight-bold">
					Contact Us
				</h5>
				<p>
					Phone Number: 080 2518 3700<br />
					Email ID:
					<a
						href="mailto:amritaface@gmail.com"
						style="text-decoration: none; color: #595959;"
						>amritaface@gmail.com</a
					>
				</p>
			</div>
			<!-- End of Right Section -->
		</div>
	</div>
	<!-- End of Top section -->
	<!-- Bottom center section -->
	<div class="container footer-copyright text-center py-3  d-none d-md-block">
		&copy; 2019 Copyright | ACM Student Chapter - Amrita School of
		Engineering | Made with
		<i class="fa fa-heart" aria-hidden="true"></i> by
		<a
			href="https://www.linkedin.com/in/vinayak-tekade/"
			target="_blank"
			rel="noopener"
			>Vinayak Tekade</a
		>
		and
		<a
			href="https://www.linkedin.com/in/harish-r-k-44708a190/"
			target="_blank"
			rel="noopener"
			>R K Subaharish</a
		>
	</div>
	<!-- End of Bottom center section -->
	<!-- Bottom center section for small screen-->
	<div
		class="container-fluid footer-copyright text-center py-3  d-block d-md-none"
	>
		&copy; 2019 Copyright <br />
		ACM Student Chapter - Amrita School of Engineering <br />
		Made with <i class="fa fa-heart" aria-hidden="true"></i>
		<a
			href="https://linkedin.com/in/vinayak-tekade/"
			target="_blank"
			rel="noopener"
			>Vinayak Tekade</a
		>
		and
		<a
			href="https://linkedin.com/in/harish-r-k-44708a190/"
			target="_blank"
			rel="noopener"
		>
			R K Subaharish</a
		>
	</div>
	<!-- End of Bottom center section for small screen-->
</footer>
<!-- End of footer -->
