<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('meta.ejs') -%>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Serif&display=swap"
			rel="stylesheet"
		/>

		<!-- Font Awesome CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<title>Members | ACM Amrita Bengaluru</title>
		<link rel="stylesheet" href="/ACM/css/members.css" />
	</head>
	<body>
		<%- include('nav.ejs') -%>
		<div class="container">
			<div class="behindNav"></div>
			<h1 class="display-2">Meet Our Team</h1>
			<!-- <div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4">THE TEAM PHOTO</h1>
					<p class="lead">All the SIG and ACM office bearers</p>
				</div>
			</div> -->
			<section id="members">
				<div class="row d-flex">
					<div class="row d-flex">
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg supriya"></div>
								<h5 class="card-title">Dr. Supriya M</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Mentor
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg sriharish"></div>
								<h5 class="card-title">
									Sriharish Ramakrishnan
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									ACM Chairperson & Data Science SIG Lead
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg ritwik"></div>
								<h5 class="card-title">Ritwik Lal</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									ACM Vice Chairperson & Data Science SIG
									Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg harshita"></div>
								<h5 class="card-title">
									Harshita Reddy Edugudi
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									ACM W Chairperson
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg meghana"></div>
								<h5 class="card-title">
									Meghana Rao Somepalli
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									ACM W Vice Chairperson
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg svarnim"></div>
								<h5 class="card-title">Svarnim Agarwal</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Secretary
								</h6>
							</div>
						</div>
						<!-- <div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg shobhanadri"></div>
								<h5 class="card-title">Shobhanadri</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Treasurer
								</h6>
							</div>
						</div> -->
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg aravind"></div>
								<h5 class="card-title">Aravind V. Nair</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Lead
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg gowtham"></div>
								<h5 class="card-title">
									Jalam Venkata Gowtham
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Competitive Coding SIG Lead
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg neelee"></div>
								<h5 class="card-title">Neelee Upadhyay</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Competitive Coding SIG Lead
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg ramshankar"></div>
								<h5 class="card-title">Ramshankar Yadhunath</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Data Science SIG Lead
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg malvika"></div>
								<h5 class="card-title">Malvika Rathi</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Lead Content Writer & Web Development SIG
									Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg priyaa"></div>
								<h5 class="card-title">R G Priyaa</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Lead Designer & Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg vinayak"></div>
								<h5 class="card-title">Vinayak Tekade</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Lead Web Developer & Web Development SIG
									Member
								</h6>
							</div>
						</div>
						<!-- <div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg member aditya"></div>
								<h5 class="card-title">Aditya D</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Data Science SIG Member
								</h6>
							</div>
						</div> -->
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg adithya"></div>
								<h5 class="card-title">Adithya S</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg bhuvanashree"></div>
								<h5 class="card-title">
									Bhuvanashree Murugadoss
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Competitive Coding SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg gandheesh"></div>
								<h5 class="card-title">Gandheesh S A</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg jaswanth"></div>
								<h5 class="card-title">Jaswanth Sai Reddy</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Competitive Coding SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg moulika"></div>
								<h5 class="card-title">
									Moulika M L S Chandra
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg subaharish"></div>
								<h5 class="card-title">R K Subaharish</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg sahana"></div>
								<h5 class="card-title">Sahana Shenoy</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Data Science SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg shreya"></div>
								<h5 class="card-title">Shreya Iyer</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg vaishnavi"></div>
								<h5 class="card-title">Vaishnavi M</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg vishnu"></div>
								<h5 class="card-title">Vishnu Vijai</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Web Development SIG Member
								</h6>
							</div>
						</div>
						<div
							class="col-12 col-sm-6 col-md-4 col-xl-3 text-center"
						>
							<div class="card border-0 py-3">
								<div class="memberImg hrudeep"></div>
								<h5 class="card-title">
									Yerradoddi Hrudeep Reddy
								</h5>
								<h6 class="card-subtitle mb-2 text-muted">
									Data Science SIG Member
								</h6>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<%- include('footer.ejs') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
