html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Acme', sans-serif;
  transition: 0.2s;
  background-image: url(/ACM/img/events/eventBG.png);
  background-size: contain;
}
.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: 0.1s;
}
.btn:hover,
.btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 11px;
	letter-spacing: 4px;
	opacity: 0.9;
}
.navbar li a,
.navbar .navbar-brand {
	color: #d5d5d5;
}
.navbar-nav li a:hover {
	color: #fff;
}
.navbar-nav li.active a {
	color: #fff;
	background-color: #29292c;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.open .dropdown-toggle {
	color: #fff;
	background-color: #555;
}

li {
  list-style: none;
}

.header {
  background-color: #760c10;
  color:#D7BB2B;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 50px;
  padding: 20px 40px;
}

.header-logo p{
  color:#DA1F28;
}

.header-logo p:hover{
  color:#FCE154;
}
 .top-wrapper .container{
   padding-top: 100px;
   padding-right:80px;
   padding-left: 80px;
}
 .top-wrapper h1{
  font-size:140px;
}
h1 span{
  color:#ff4a4a;
}
.content-section{
  padding:100px 80px;
}
.content-section .container{
  height:500px;
}
.content-section h1{
  border-bottom:2px solid #dee7ec;
  padding-bottom:15px;
  font-size:28px;
}
.cards{
  padding-top:50px;
  padding-right:40px;
}
.cards p{
  padding-top:30px;
  font-size:24px;
}
.hr-text {
	line-height: 2em;
	position: relative;
	border: 0;
	color: #1b80ce;
	text-align: center;
	height: 4em;
}
.hr-text:before {
	content: "";
	background: linear-gradient(to right, transparent, #1b80ce, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 2px;
}
.hr-text:after {
	content: attr(data-content);
	font-size: 2em;
	position: relative;
	display: inline-block;
	padding: 0 1em;
	line-height: 2em;
	color: #1b80ce;
	background-color: #fcfcfa;
}

footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}
footer a {
	color: #f5f5f5;
}
footer a:hover {
	color: #777;
	text-decoration: none;
}
.form-control {
	border-radius: 0;
}
textarea {
	resize: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
.title {
    color: grey;
    font-size: 11px; 
    letter-spacing: 0;

}  
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 11px;
} 
a{
    text-decoration: none;
    font-size: 11px;
    color: black;
}  
button:hover, a:hover{
    opacity: 0.7;
}
