<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include meta.ejs%>
		<title>404 - FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="404 - Forum for Aspiring Computer Engineers"
		/>
		<meta property="og:title" content="404 - FACE Amrita Bangalore" />
		<meta
			property="og:url"
			content="https://face-amrita.firebaseapp.com/404"
		/>
		<meta
			property="og:description"
			content="404 - Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<ul id="nav" class="nav">
						<li class="current">
							<a class="smoothscroll" href="./#hero">Home</a>
						</li>
						<li><a href="/TFS">TFS</a></li>
						<li>
							<a target="_blank" rel="noopener" href="/Identifire"
								>Identifire</a
							>
						</li>
						<li>
							<a class="smoothscroll" href="/#about">About</a>
						</li>
						<li><a href="/Team">Team</a></li>
						<li>
							<a target="_blank" rel="noopener" href="/Blog"
								>Blog</a
							>
						</li>
						<li>
							<a class="smoothscroll" href="/#portfolio"
								>Gallery</a
							>
						</li>
						<li>
							<a class="smoothscroll" href="#contact">Contact</a>
						</li>
					</ul>
				</nav>
				<%include social.ejs%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<ul class="slides">
							<li>
								<div class="flex-caption">
									<h1>
										404 &#x1f61f;
									</h1>
									<h3>
										The content you are looking for couldn't
										be found. Please check your connection
										or URL and try again.
									</h3>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%include contact.ejs%> <%include footer.ejs%> <%include scripts.ejs%>
	</body>
</html>
