<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>FACE - Amrita Bangalore</title>
	<meta name="description" content="Forum for Aspiring Computer Engineers">
	<meta name="author" content="Aravind V. Nair, Abhishek Sai">
	<meta name="keywords" content="FACE, Amrita, ASE, ASEB, forum, Bangalore, Bengaluru, ACM, CSI, ACM-W">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:title" content="FACE - Amrita Bangalore" />
	<meta property="og:url" content="https://face-amrita.firebaseapp.com" />
	<meta property="og:image" content="/android-chrome-512x512.png" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:description" content="Forum for Aspiring Computer Engineers" />
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/vendor.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/modernizr.js"></script>
	<link rel="shortcut icon" href="favicon.png">
</head>

<body>
	<%include header.ejs%>
	<section id="hero">
		<div class="row hero-content">
			<div class="twelve columns hero-container">
				<div id="hero-slider" class="flexslider">
					<ul class="slides">
						<li>
							<div class="flex-caption">
								<h1 class="">Say hello to <span>Kreo</span>. We create awesome and stunning
									digital solutions.
								</h1>
								<h3 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
									totam rem aperiam.</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<%include contact.ejs%>
	<%include footer.ejs%>
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>