<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include meta.ejs%>
		<title>ACM-ASEB</title>
		<meta
			name="description"
			content="ACM Student Chapter ASEB"
		/>
		<meta property="og:title" content="ACM Student Chapter ASEB" />
		<meta
			property="og:url"
			content="https://face-amrita.firebaseapp.com/ACM"
		/>
		<meta
			property="og:description"
			content="ACM Student Chapter ASEB"
		/>
	</head>

	<body>
		<h1 class="display-5">Coming Soon</h1>
		<p>The ACM Student Chapter ASEB website is under costruction.</p>
	  </body>
	  
</html>
