<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="comingSoon.css">
    <title>ACM-ASEB</title>
  </head>
  <body>
    <h1 class="display-5">Coming Soon</h1>
    <p>The ACM Student Chapter ASEB website is under costruction.</p>
  </body>
</html>