<section id="contact">
	<div class="row section-head">
		<div class="twelve columns">
			<h1>Get In Touch With Us<span>.</span></h1>
			<hr />
		</div>
	</div>
	<div class="row">
		<div id="contact-form" class="six columns tab-whole left">
			<form name="contactForm" method="post" action="https://formspree.io/amritaface@gmail.com">
				<fieldset>
					<div class="group">
						<input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
					</div>
					<div>
						<input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
					</div>
					<div>
						<input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" required />
					</div>
					<div>
						<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required></textarea>
					</div>
					<div>
						<button class="submitform">Submit</button>
						<div id="submit-loader">
							<div class="text-loader">Sending...</div>
							<div class="s-loader">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
			<div id="message-warning"></div>
			<div id="message-success">
				<i class="icon-ok"></i>Your message was sent, thank you!<br />
			</div>
		</div>
		<div class="six columns tab-whole right">
			<p class="lead">
				At FACE, we provide foundational learning skills to computer enthusiasts through weekly events that are laced
				with knowledge that is usually not provided within the four walls of a classroom. Connect with us for queries / feedback or to learn more.
			</p>
			<h3 class="address">Where to find us</h3>
			<p>
				Amrita Vishwa Vidyapeetham University, <br>
				Kasavanahalli, <br>
				Carmelaram P.O., Bangalore <br>
				560 035 <br>
				Karnataka, India
			</p>
			<h3>Email us at:</h3>
			<p>
				<a href="mailto:amritaface@gmail.com">amritaface@gmail.com</a>
			</p>
			<h3>Contact Numbers:</h3>
			<p>
				Mobile: <a href="tel:+919148579702">(+91) 9148579702</a>
			</p>
		</div>
	</div>
</section>