<footer>
    <div class="row">
        <div class="twelve columns content group">
            <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
            <hr />
            <div class="info">
                <div class="footer-logo"></div>
                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                    nibh id elit.
                </p>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Copyright FACE Amrita 2018</li>
            <li>Design by <a href="http://www.styleshout.com/">Styleshout</a></li>
        </ul>
        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</footer>