<header id="main-header">
	<div class="row">
		<div class="logo">
			<a href="/">FACE</a>
		</div>
		<nav id="nav-wrap">
			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
				<span class="menu-icon">Menu</span>
			</a>
			<a class="mobile-btn" href="#" title="Hide navigation">
				<span class="menu-icon">Menu</span>
			</a>
			<ul id="nav" class="nav">
				<li class="current">
					<a id="mobile_click" class="smoothscroll" href="./#hero"
						>Home</a
					>
				</li>
				<li><a id="mobile_click" href="/TFS">TFS</a></li>
				<li>
					<a
						id="mobile_click"
						target="_blank"
						rel="noopener"
						href="/Identifire"
						>Identifire</a
					>
				</li>
				<li>
					<a id="mobile_click" class="smoothscroll" href="./#about"
						>About</a
					>
				</li>
				<li>
					<div class="dropdown">
						<a title="Team">Team</a>
						<div class="dropdown-content">
							<a
								id="mobile_click"
								class="smoothscroll"
								href="#officeBearers"
								title="Office Bearers"
								>Office Bearers</a
							>
							<a
								id="mobile_click"
								href="/Team_1819"
								title="Team 2018 - 2019"
								>Team 2018 - 2019</a
							>
							<a
								id="mobile_click"
								href="/Team_1920"
								title="Team 2019 - 2020"
								>Team 2019 - 2020</a
							>
							<a
								id="mobile_click"
								href="/Team_2021"
								title="Team 2020 - 2021"
								>Team 2020 - 2021</a
							>
						</div>
					</div>
				</li>
				<li>
					<a
						id="mobile_click"
						target="_blank"
						rel="noopener"
						href="/Blog"
						>Blog</a
					>
				</li>
				<li>
					<a
						id="mobile_click"
						class="smoothscroll"
						href="./#portfolio"
						>Gallery</a
					>
				</li>
				<li>
					<a id="mobile_click" class="smoothscroll" href="#contact"
						>Contact</a
					>
				</li>
			</ul>
		</nav>
		<%- include('social.ejs') -%>
	</div>
</header>
