<header id="main-header">
	<div class="row">
		<div class="logo">
			<a href="/">FACE</a>
		</div>
		<nav id="nav-wrap">
			<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
				<span class="menu-icon">Menu</span>
			</a>
			<a class="mobile-btn" href="#" title="Hide navigation">
				<span class="menu-icon">Menu</span>
			</a>
			<ul id="nav" class="nav">
				<li class="current"><a class="smoothscroll" href="./#hero">Home</a></li>
				<li><a href="/TFS">TFS</a></li>
				<li><a class="smoothscroll" href="./#events">Events</a></li>
				<li><a class="smoothscroll" href="./#about">About</a></li>
				<li><a class="smoothscroll" href="./#portfolio">Gallery</a></li>
				<li><a href="/Team">Team</a></li>
				<li><a class="smoothscroll" href="#contact">Contact</a></li>
				<li><a href="/Blog">Blog</a></li>
			</ul>
		</nav>
		<ul class="header-social">
			<li><a href="https://www.facebook.com/face00amrita/"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/faceaseb"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://www.instagram.com/face_aseb/"><i class="fa fa-instagram"></i></a></li>
			<li><a href="https://www.linkedin.com/company/face-aseb/"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="/Blog"><i class="fa fa-wordpress"></i></a></li>
		</ul>
	</div>
</header>