<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<title>FACE - Amrita Bangalore</title>
	<meta name="description" content="Forum for Aspiring Computer Engineers">
	<meta property="og:title" content="FACE - Amrita Bangalore" />
	<meta property="og:url" content="https://face-amrita.firebaseapp.com" />
	<meta property="og:description" content="Forum for Aspiring Computer Engineers" />
	<%include meta.ejs%>
</head>

<body>
	<%include header.ejs%>
	<section id="hero">
		<div class="row hero-content">
			<div class="twelve columns hero-container">
				<div id="hero-slider" class="flexslider">
					<ul class="slides">
						<li>
							<div class="flex-caption">
								<h1 class="">Say hello to <span>FACE</span>.
								</h1>
								<h3 class="">A technical club At Amrita</h3>
							</div>
						</li>
						<li>
							<div class="flex-caption">
								<h1 class="">Say hello to <span>FACE</span>.
								</h1>
								<h3 class="">A technical club At Amrita</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="more">
			<a class="smoothscroll" href="#services">More About Us<i class="fa fa-angle-down"></i></a>
		</div>
	</section>
	<section id="events">
		<div class="row section-head">
			<div class="twelve columns">
				<h1>Our Upcoming events<span>.</span></h1>
				<hr />
				<p>
					These are some of the events that we have planned for you!
				</p>
			</div>
		</div>
		<div class="row mobile-no-padding">
			<div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">
				<div class="bgrid">
					<h3>Event 1</h3>
					<div class="service-content">
						<p>
							Description 1
						</p>
					</div>
				</div>
				<div class="bgrid">
					<h3>Event 2</h3>
					<div class="service-content">
						<p>
							Description 2
						</p>
					</div>
				</div>
				<div class="bgrid">
					<h3>Event 3</h3>
					<div class="service-content">
						<p>
							Description 3
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="row section-head">
			<div class="twelve columns">
				<h1>FACE - Forum for Aspiring Computer Engineers<span>.</span></h1>
				<hr />
				<p>
					In today`s world where technology advances each day by leaps and bounds evolving faster than mankind can keep up,
					miss a
					day and you might as well have missed a month. So what do you do when you have no clue to what`s going on in the
					tech
					empire? You tune into FACE.
				</p>
				<p>
					We at FACE, the Forum for Aspiring Computer Engineers at Amrita School of Engineering, Bangalore solely dedicate
					ourselves
					to organize workshops, conduct events and fests to acquaint and immerse you into the world of technology. Ranging
					from
					courses on game programming to hands-on OS installations and project exhibitions. We do it all. If you`re into
					computing
					and technology then you`ll certainly be into FACE. Stay with us and we`ll go together, hand in hand, alongside
					technological
					advancements. Tune into Technology. Tune into F.A.C.E.
				</p>
				<p>
					There are 4 Student Clubs under FACE
				</p>
			</div>
		</div>

		<div class="row mobile-no-padding">
			<div class="process bgrid-half tab-bgrid-whole group">
				<div class="bgrid">
					<h3>ACM - Asoociation of Computing Machinery</h3>
					<p>
						ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and
						address
						the field's challenges. As the world’s largest computing society, ACM strengthens the profession's collective
						voice
						through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM
						supports
						the professional growth of its members by providing opportunities for life‐long learning, career development, and
						professional networking.
					</p>
					<p>
						<button type="button" class="glow-button button" onclick="window.open('https://www.acm.org/')">Know More</button>
					</p>
				</div>
				<div class="bgrid">
					<h3>CSI - Computer Society of India</h3>
					<p>
						The "Computer Society of India" is a professional body where computer professionals meet to exchange views and
						information,
						to learn and share ideas. The wide spectrum of members is committed to the advancement of the theory and practice
						of Computer Engineering and Technology Systems, Science and Engineering, Information Processing and related Arts
						and
						Sciences.
					</p>
					<p>
						<button type="button" class="glow-button button" onclick="window.open('http://www.csi-india.org/')">Know More</button>
					</p>

				</div>

				<div class="bgrid">

					<h3>ACM - W</h3>

					<p>
						ACM-W supports, celebrates, and advocates internationally for the full engagement of women in all aspects of the
						computing
						field, providing a wide range of programs and services to ACM members and working in the larger community to
						advance
						the contributions of technical women.
					</p>
					<p>
						<button type="button" class="glow-button button" onclick="window.open('https://women.acm.org/')"> Know More</button>
					</p>

				</div>

				<div class="bgrid">

					<h3>Codechef Amrita Chapter</h3>

					<p>CodeChef Amrita Bengaluru Campus Chapter aims at promoting competitive programming in Amrita Bengaluru and help
						students become better problem solvers which goes a long way in learning as well as in their career development.
					</p>
					<p>
						<button type="button" class="glow-button button" onclick="window.open('https://www.codechef.com/')">Know More</button>
					</p>
				</div>
			</div>
		</div>

		<section id="portfolio">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Gallery<span>.</span></h1>
					<hr />
					<p>
						These are some of the pictures of the events that we have conducted.
					</p>
				</div>
			</div>
			<div class="row items">

				<!-- portfolio-wrapper -->
				<div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-01">
								<img src="images/portfolio/blindcoding.jpg" alt="Underwater">
								<div class="overlay"></div>
								<div class="portfolio-item-meta">
									<h5>Blind Coding</h5>
									<p>CSI</p>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-02">
								<img src="images/portfolio/bugster.jpg" alt="Hotel Sign">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Bugster</h5>
										<p>FACE</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-03">
								<img src="images/portfolio/codechef.jpg" alt="Beetle">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Codechef Coding Training Sessions</h5>
										<p>Codechef</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-04">
								<img src="images/portfolio/gamedesign.jpg" alt="Banjo Player">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Intoduction to Game Designing</h5>
										<p>FORGE</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-05">
								<img src="images/portfolio/uiux.jpg" alt="Lighthouse">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>UI/UX Design Challenges</h5>
										<p>FACE(Top Coder)</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-06">
								<img src="images/portfolio/techtriathalon.jpg" alt="Girl Stuff">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Tech Triathalon</h5>
										<p>FACE</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div> <!-- item end -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-07">
								<img src="images/portfolio/logicaljpeg.jpg" alt="Coffee Cup">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Introduction to Logical Thinking</h5>
										<p>Codechef</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div>
					<div class="bgrid folio-item">
						<div class="item-wrap">
							<a href="#modal-08">
								<img src="images/portfolio/tech2.jpg" alt="Judah">
								<div class="overlay">
									<div class="portfolio-item-meta">
										<h5>Tech Triathalon</h5>
										<p>FACE</p>
									</div>
								</div>
								<div class="link-icon"><i class="fa fa-plus"></i></div>
							</a>
						</div>
					</div>
				</div>
				<div id="modal-01" class="popup-modal mfp-hide">
					<div class="media">
						<img src="images/portfolio/modals/m-blindcoding.jpg" alt="Underwater" />
					</div>
					<div class="description-box">
						<h4>Underwater</h4>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
							consequat
							ipsum, nec sagittis sem nibh id elit.</p>
						<span class="categories">CSI</span>
					</div>

					<div class="link-box group">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-01 end -->

				<div id="modal-02" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-bugster.jpg" alt="Hotel Sign" />
					</div>

					<div class="description-box">
						<h4>Hotel Sign</h4>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
							consequat
							ipsum, nec sagittis sem nibh id elit.</p>
						<span class="categories">FACE</span>
					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-02 end -->

				<div id="modal-03" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-codechef.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>Competitive Coding Training Sessions </h4>
						<p>Codechef's initiative in bringing up competitive coding skills among students for competitive coding contests, the most important one being ICPC.</p>
						<span class="categories">Codechef</span>
					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-03 end -->

				<div id="modal-04" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-gamedesign.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>Getting started with game development</h4>
						<p>
							All the technical know-hows on how to start off with game development. The brand new club FORGE kisckstarted its journey with this amazing event.
						</p>
						<span class="categories">FORGE</span>
					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-04 end -->

				<div id="modal-05" class="popup-modal slider mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-uiux.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>UI/UX Challenges</h4>

						<p>
							Inspired by Topcoder, these challenges are aimed at bringing out the best creativity in you! This is for all the designers and techies out there
						</p>

						<div class="categories">FACE</div>

					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-05 end -->

				<div id="modal-06" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-techtriathalon.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>Tech Triathalon</h4>

						<p>
							An event held exclusively for the first years. A fun filled event consisting of brainstorming puzzles, tech taboo and Pictionary.
						</p>

						<div class="categories">FACE</div>

					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-06 end -->

				<div id="modal-07" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-logical.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>Introduction to logical thinking</h4>

						<p>
							A Codechef event held for the first and second years where the logical thinking skills of the students were put to test.
						</p>

						<div class="categories">Codechef</div>

					</div>

					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>

				</div><!-- modal-07 end -->

				<div id="modal-08" class="popup-modal mfp-hide">

					<div class="media">
						<img src="images/portfolio/modals/m-tech2.jpg" alt="" />
					</div>

					<div class="description-box">
						<h4>Tech Triathalon</h4>
						<p>
							An event held exclusively for the first years. A fun filled event consisting of brainstorming puzzles, tech taboo and Pictionary
						</p>

						<div class="categories">FACE</div>

					</div>
					<div class="link-box">
						<a href="http://www.behance.net">Details</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
			</div>
		</section> <!-- end portfolio -->
		<div class="row team section-head">
			<div class="twelve columns">
				<h1>Meet Our Team<span>.</span></h1>
				<hr />
			</div>
		</div>

	</section>
	<section id="team">
		<div class="row hero-content">
			<div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">
				<div class="bgrid member">
					<div class="member-pic">
						<img src="images/team/member01-k.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Ramshankar</h3>
						<span>Secretary of FACE</span>
					</div>
					<p>A third year student who loves coffee and is deeply interested in Data Science and Machine Learning.
						Mathematics is a close ally and theory is a distant friend. That's me!</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>

				<div class="bgrid member">
					<div class="member-pic">
						<img src="images/team/amrutha.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Amrutha Krishnamoorthy</h3>
						<span>Joint Secratary</span>
					</div>
					<p>A third year computer enthusiast who enjoys coding and is keen on machine learning.</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/amrutha.kmoorthy" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="
									https://instagram.com/amrutha_akm" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="
									www.linkedin.com/in/amrutha-krishnamoorthy-124832166" target="_blank" rel="noopener"><i
								 class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>

				<div class="bgrid member">
					<div class="member-pic">
						<img src="images/team/rahul.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Rahul</h3>
						<span>Joint Secratary</span>
					</div>
					<p>An avid coder, who likes to expand his interests in every new topic he comes across. He is currently striving
						to achieve finesse in competitive programming and app development.</p>
					<ul class="member-social">
						<li><a href=https://www.facebook.com/profile.php?id=100004573008262" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/rnkpew/?hl=en" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/rahul-kamath-b1069816b/"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>

				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/arvind.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Arvind Sudheer</h3>
						<span>Chairperson, ACM Student Chapter ASE-B</span>
					</div>
					<p>
						A third year student pursuing his B-Tech in Computer Science and Engineering , interested in coding in different
						programming languages, avid Java programmer , trying to get his hands messy with python, currently working on
						Machine Learning ,AI and Image processing .
					</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/arvind.sudheer" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/arvindsudheer/?hl=en" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/arvind-sudheer-407b37136" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://plus.google.com/117975221163233127928" target="_blank" rel="noopener"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/sriharish.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Sriharish R</h3>
						<span>Co-Chair of ACM Student Chapter at ASE-B</span>
					</div>
					<p>
						A sophomore pursuing B.Tech in Computer Science and Engineering, Sriharish enjoys coding and problem solving. He
						is enthusiastic about Artificial Intelligence and Machine Learning and is fascinated with Big Data Analytics.
					</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/sriharish.ramakrishnan
									" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="www.linkedin.com/in/sriharish-r"><i class="fa fa-linkedin" target="_blank" rel="noopener"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/abhirami.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Abhirami J</h3>
						<span> Chairperson of CSI</span>
					</div>
					<p>
						A third year student pursuing her Btech in Computer Science and Engineering,enjoys backend coding.
					</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/abhishek1.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Abhishek Sai</h3>
						<span>Co-chair of CSI</span>
					</div>
					<p>
						A sophomore pursuing his B.Tech in Computer Science and Engineering, Abhishek loves to dapple with different
						programming
						languages and is a keen web developer.
					</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/member04-k.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Lavanaya</h3>
						<span>Chairperson of ACM-W Student Chapter at ASE-B</span>
					</div>
					<p>Description</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/harshita.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Harshita Reddy</h3>
						<span>Co-chair f ACM-W Student Chapter at ASE-B</span>
					</div>
					<p>
						A sophomore pursuing B.Tech in Computer Science and Engineering. She is fascinated about Artificial Intelligence
						and Machine Learning.
					</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/harshitareddy.edugudi
									" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://instagram.com/harshita._.reddy
									" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/harshita-reddy-41a69a16b
									" target="_blank" rel="noopener"><i
								 class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/prudhvi.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Prudhvi Nadh Reddy Katherapalli</h3>
						<span>Chaiperson of Codechef Student Chapter ASE-B</span>
					</div>
					<p>
						A third year student pursuing B.Tech in Computer Science and Engineering ,Prudhvi Nadh has great interest in Deep
						Learning and Computer Vision
					</p>
					<ul class="member-social">
						<li><a href="www.linkedin.com/in/prudhvi-nadh-reddy-41aa2014a/"><i class="fa fa-linkedin" target="_blank" rel="noopener"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/arjun.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Arjun S Kedlaya</h3>
						<span>Co-Chair of Codechef Chapter of ASE-B</span>
					</div>
					<p>
						A third year student pursuing B.Tech in Computer Science Engineering, enjoys coding and web development. He is
						interested in data science and machine learning.
					</p>
					<ul class="member-social">
						<li><a href=" www.linkedin.com/in/arjunkedlaya"><i class="fa fa-linkedin" target="_blank" rel="noopener"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/member04-k.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Person 4</h3>
						<span>Chairperson of Forge</span>
					</div>
					<p>Description</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/member04-k.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Person 4</h3>
						<span>Co-chair of Forge</span>
					</div>
					<p>Description</p>
					<ul class="member-social">
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<p>
			<button type="button" class="glow-button button" onclick="window.open('/Team')">View More</button>
		</p>
	</section>
	<!-- <section id="testimonials">
	  <div class="row content flex-container">
		 <div id="testimonial-slider" class="flexslider">
			<ul class="slides">
			   <li>
				  <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
				  to do what you believe is great work. And the only way to do great work is to love what you do.
				  If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
				  </p>
				  <div class="testimonial-author">
						<img src="images/avatars/avatar-1.jpg" alt="Author image">
						<div class="author-info">
							Steve Jobs
							<span class="position">CEO, Apple.</span>
						</div>
				  </div>
			 	</li> 
			   <li>                       
				  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
				  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
				  nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
				  </p>
				  <div class="testimonial-author">
						<img src="images/avatars/avatar-2.jpg" alt="Author image">
						<div class="author-info">
							John Doe
							<span>CEO, ABC Corp.</span>
						</div>
				  </div>                        
			   </li>
			</ul> 
		 </div>         
	
	  </div> 
   </section>   -->
	<%include contact.ejs%>
	<%include footer.ejs%>
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>