<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include meta.ejs%>
		<title>FACE - Amrita Bangalore</title>
		<meta
			name="description"
			content="Forum for Aspiring Computer Engineers"
		/>
		<meta property="og:title" content="FACE - Amrita Bangalore" />
		<meta property="og:url" content="https://face-amrita.firebaseapp.com" />
		<meta
			property="og:description"
			content="Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<%include header.ejs%>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%include slides.ejs%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#about"
					>More About Us<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="events">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Our ongoing events<span>.</span></h1>
					<hr />
					<p>
						These are some of the events that we have planned for
						you!
					</p>
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div
					class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group"
				>
					<div class="bgrid">
						<h3>SLAC 2019</h3>
						<div class="service-content">
							<p>
								Stay Late and Code (SLAC) is the annual 24 hour
								college level hackathon at Amrita School of
								Engineering, Bangalore conducted by the school's
								CSE Departmental Forum, FACE where the
								participants at the event appear from colleges
								all across South India. Click
								<a target="_blank" href="/SLAC">here</a> to know
								more.
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>UI / UX design contest</h3>
						<div class="service-content">
							<p>
								Send us your most creative designs for user
								interface and user experience,
								<a href="/UI-UX">click here</a> to compete.
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>Web Development Workshop</h3>
						<div class="service-content">
							<p>
								A full stack web development workshop focusing
								on HTML5, CSS3, Bootstrap, Node.js, Express.js,
								Git, GitHub, Database, CLI, JS and Firebase by
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									>Aravind V. Nair</a
								>
								and
								<a
									href="https://www.linkedin.com/in/abhishek-kvs/"
									target="_blank"
									>Abhishek Sai</a
								>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>
						FACE - Forum for Aspiring Computer Engineers<span
							>.</span
						>
					</h1>
					<hr />
					<p>
						In today`s world where technology advances each day by
						leaps and bounds evolving faster than mankind can keep
						up, miss a day and you might as well have missed a
						month. So what do you do when you have no clue to what`s
						going on in the tech empire? You tune into FACE.
					</p>
					<p>
						We at FACE, the Forum for Aspiring Computer Engineers at
						Amrita School of Engineering, Bangalore solely dedicate
						ourselves to organize workshops, conduct events and
						fests to acquaint and immerse you into the world of
						technology. Ranging from courses on game programming to
						hands-on OS installations and project exhibitions. We do
						it all. If you`re into computing and technology then
						you`ll certainly be into FACE. Stay with us and we`ll go
						together, hand in hand, alongside technological
						advancements. Tune into Technology. Tune into F.A.C.E.
					</p>
					<h1>There are 5 student clubs under FACE</h1>
					<hr />
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div class="process bgrid-half tab-bgrid-whole group">
					<div class="bgrid">
						<h3>ACM - Association of Computing Machinery</h3>
						<p>
							ACM brings together computing educators,
							researchers, and professionals to inspire dialogue,
							share resources, and address the field's challenges.
							As the world's largest computing society, ACM
							strengthens the profession's collective voice
							through strong leadership, promotion of the highest
							standards, and recognition of technical excellence.
							ACM supports the professional growth of its members
							by providing opportunities for life‐long learning,
							career development, and professional networking.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://www.acm.org/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>CSI - Computer Society of India</h3>
						<p>
							The "Computer Society of India" is a professional
							body where computer professionals meet to exchange
							views and information, to learn and share ideas. The
							wide spectrum of members is committed to the
							advancement of the theory and practice of Computer
							Engineering and Technology Systems, Science and
							Engineering, Information Processing and related Arts
							and Sciences.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('http://www.csi-india.org/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>ACM - W</h3>
						<p>
							ACM-W supports, celebrates, and advocates
							internationally for the full engagement of women in
							all aspects of the computing field, providing a wide
							range of programs and services to ACM members and
							working in the larger community to advance the
							contributions of technical women.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://women.acm.org/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>Codechef Amrita Chapter</h3>
						<p>
							CodeChef Amrita Bengaluru Campus Chapter aims at
							promoting competitive programming in Amrita
							Bengaluru and help students become better problem
							solvers which goes a long way in learning as well as
							in their career development.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://www.codechef.com/')"
							>
								Know More
							</button>
						</p>
					</div>
					<div class="bgrid">
						<h3>FORGE</h3>
						<p>
							A club for game designing which aims to learn and
							share knowledge by conducting workshops , contests,
							seminars and talks on game designing, modelling,
							texturing, C.G.I, character rigging and animation.
						</p>
						<p>
							<button
								type="button"
								class="glow-button button"
								onclick="window.open('https://www.instagram.com/forge.amrita/')"
							>
								Know More
							</button>
						</p>
					</div>
				</div>
			</div>
			<section id="portfolio">
				<div class="row section-head">
					<div class="twelve columns">
						<h1>Gallery<span>.</span></h1>
						<hr />
						<p>Some of our latest events.</p>
					</div>
				</div>
				<div class="row items">
					<div
						id="portfolio-wrapper"
						class="bgrid-fourth s-bgrid-third tab-bgrid-half"
					>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-01">
									<img
										src="images/portfolio/blindcoding.jpg"
										alt="blindcoding"
									/>
									<div class="overlay"></div>
									<div class="portfolio-item-meta">
										<h5>Blind Coding</h5>
										<p>CSI</p>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-02">
									<img
										src="images/portfolio/bugster.jpg"
										alt="bugster"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Bugster</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-03">
									<img
										src="images/portfolio/codechef.jpg"
										alt="codechef"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Codechef Coding Training
												Sessions
											</h5>
											<p>Codechef</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-04">
									<img
										src="images/portfolio/gamedesign.jpg"
										alt="gamedesign"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Introduction to Game Designing
											</h5>
											<p>FORGE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-05">
									<img
										src="images/portfolio/uiux.jpg"
										alt="uiux"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>UI/UX Design Challenges</h5>
											<p>FACE(Top Coder)</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-06">
									<img
										src="images/portfolio/techtriathalon.jpg"
										alt="techtriathalon"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Tech Triathalon</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-07">
									<img
										src="images/portfolio/logical.jpg"
										alt="logical"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>
												Introduction to Logical Thinking
											</h5>
											<p>Codechef</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="bgrid folio-item">
							<div class="item-wrap">
								<a href="#modal-08">
									<img
										src="images/portfolio/tech2.jpg"
										alt="tech2"
									/>
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>Tech Triathalon</h5>
											<p>FACE</p>
										</div>
									</div>
									<div class="link-icon">
										<i class="fa fa-plus"></i>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="modal-01" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/blindcoding.jpg"
								alt="blindcoding"
							/>
						</div>
						<div class="description-box">
							<h4>Bind Coding</h4>
							<p>
								This is a one of a kind event where the
								participants will have to code with the Monitors
								switched OFF A simple code with syntax error
								will be given on paper. Participants have to
								correct the errors on paper and type the code
								with MONITOR switched Off.
							</p>
							<span class="categories">CSI</span>
						</div>
						<div class="link-box group">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-02" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/bugster.jpg"
								alt="bugster"
							/>
						</div>
						<div class="description-box">
							<h4>Bugster</h4>
							<p>Do you hate bugs just as we do?</p>
							<span class="categories">FACE</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-03" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/codechef.jpg"
								alt="Codechef"
							/>
						</div>
						<div class="description-box">
							<h4>Competitive Coding Training Sessions</h4>
							<p>
								Codechef's initiative in bringing up competitive
								coding skills among students for competitive
								coding contests, the most important one being
								ICPC.
							</p>
							<span class="categories">Codechef</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-04" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/gamedesign.jpg"
								alt="gamedesign"
							/>
						</div>
						<div class="description-box">
							<h4>Getting started with game development</h4>
							<p>
								All the technical know-hows on how to start off
								with game development. The brand new club FORGE
								kisckstarted its journey with this amazing
								event.
							</p>
							<span class="categories">FORGE</span>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-05" class="popup-modal slider mfp-hide">
						<div class="media">
							<img src="images/portfolio/uiux.jpg" alt="uiux" />
						</div>
						<div class="description-box">
							<h4>UI/UX Challenges</h4>
							<p>
								Inspired by Topcoder, these challenges are aimed
								at bringing out the best creativity in you! This
								is for all the designers and techies out there
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-06" class="popup-modal mfp-hide">
						<div class="media">
							<img
								src="images/portfolio/techtriathalon.jpg"
								alt=""
							/>
						</div>
						<div class="description-box">
							<h4>Tech Triathalon</h4>
							<p>
								An event held exclusively for the first years. A
								fun filled event consisting of brainstorming
								puzzles, tech taboo and Pictionary.
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-07" class="popup-modal mfp-hide">
						<div class="media">
							<img src="images/portfolio/logical.jpg" alt="" />
						</div>
						<div class="description-box">
							<h4>Introduction to logical thinking</h4>
							<p>
								A Codechef event held for the first and second
								years where the logical thinking skills of the
								students were put to test.
							</p>
							<div class="categories">Codechef</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
					<div id="modal-08" class="popup-modal mfp-hide">
						<div class="media">
							<img src="images/portfolio/tech2.jpg" alt="" />
						</div>
						<div class="description-box">
							<h4>Tech Triathalon</h4>
							<p>
								An event held exclusively for the first years. A
								fun filled event consisting of brainstorming
								puzzles, tech taboo and Pictionary
							</p>
							<div class="categories">FACE</div>
						</div>
						<div class="link-box">
							<a target="_blank" rel="noopener" href="/Blog"
								>Details</a
							>
							<a href="#" class="popup-modal-dismiss">Close</a>
						</div>
					</div>
				</div>
			</section>
		</section>
		<section id="testimonials">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1 style="color: black;">Meet our office bearers</h1>
				</div>
			</div>
			<div class="row content flex-container">
				<div id="testimonial-slider" class="flexslider">
					<ul class="slides">
						<li>
							<p>
								Manju Venugopalan currently serves as Assistant
								Professor at the department of Computer Science,
								Amrita School of Engineering, Bengaluru. She is
								currently pursuing her Ph.D. Her areas of
								research include Natural Language Processing,
								Machine Learning, Algorithms and Database
								Management Systems.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/manju.jpg"
									alt="Manju Venugopalan"
								/>
								<div class="author-info">
									Manju Venugopalan
									<span class="position">Mentor, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year pursuing his B-Tech in CSE. Has a
								great passion for Graphic and UI/UX designing. A
								Web Developer and a Tech Enthusiast, he loves to
								convert coffee into code and fiddling around
								with new tech.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/aditya.jpg"
									alt="Aditya D Udapudi"
								/>
								<div class="author-info">
									Aditya D Udapudi
									<span>Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year computer enthusiast who enjoys
								problem solving and likes to try her hand in
								every new topic she comes across.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/rakshana.jpg"
									alt="Rakshana J"
								/>
								<div class="author-info">
									Rakshana J
									<span>Joint Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year pursuing his B.Tech in Computer
								Science and Engineering, he loves to dapple with
								different programming languages and is a keen
								web developer
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/abhishek.jpg"
									alt="Abhishek Sai"
								/>
								<div class="author-info">
									Abhishek Sai
									<span>Joint Secretary, FACE</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A curious student, sophomore who believes that
								anything can be learnt with interest,
								perseverance and discipline.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/sahana.jpg"
									alt="Sahana Shenoy"
								/>
								<div class="author-info">
									Sahana Shenoy <span>Secretary, CSI</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A sophomore pursuing Computer Science
								Engineering, who aspires to dwell into the field
								of Artificial intelligence
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/manasa_ch.jpg"
									alt="C H Manasa"
								/>
								<div class="author-info">
									C H Manasa
									<span>Joint Secretary, CSI</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year student who enjoys coding and
								problem solving.He is enthusiastic about
								Artificial Intelligence and Machine Learning and
								is fascinated with Big Data Analytics.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/sriharish.jpg"
									alt="Sriharish Ramakrishnan"
								/>
								<div class="author-info">
									Sriharish Ramakrishnan
									<span>Chairperson, ACM ASE-B</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A sophomore, whose close companions are coffee
								and coding. Loves to meddle with Python and R
								and displays a keen interest in Data Science and
								Machine Learning. Food and Travel have been an
								integral part of his life.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/ritwik.jpg"
									alt="Ritwik Lal"
								/>
								<div class="author-info">
									Ritwik Lal
									<span>Joint Secretary, ACM ASE-B</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year pursuing B.Tech in Computer Science
								and Engineering. She is fascinated about
								Artificial Intelligence and Machine Learning.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/harshita.jpg"
									alt="Harshita Reddy Edugudi"
								/>
								<div class="author-info">
									Harshita Reddy Edugudi
									<span>Secretary, ACM-W ASE-B</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A sophomore tech enthusiast who is keen on
								learning new things every day. She is interested
								in AI and machine learning.
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/meghana.jpg"
									alt="Meghana Rao Somepalli"
								/>
								<div class="author-info">
									Meghana Rao Somepalli
									<span>Joint Secretary, ACM-W ASE-B</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year student pursing B-Tech in Computer Science and Engineering,enjoys coding .
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/venkat.jpg"
									alt="Jalam Venkata Gowtham"
								/>
								<div class="author-info">
									Jalam Venkata Gowtham
									<span>Secretary, Codechef ASE-B</span>
								</div>
							</div>
						</li>
						<li>
							<p>
								A third year computer enthusiast pursuing B.Tech in Computer Science and Engineering, who enjoys competitive programming and app development
							</p>
							<div class="testimonial-author">
								<img
									src="images/team/neelee.jpg"
									alt="Neelee Upadhyay"
								/>
								<div class="author-info">
									Neelee Upadhyay
									<span>Joint Secretary, Codechef ASE-B</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<%include contact.ejs%> <%include footer.ejs%>
		<div id="preloader"><div id="loader"></div></div>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/jquery-migrate-1.2.1.min.js"></script>
		<script src="js/jquery.flexslider-min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.fittext.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/main.js"></script>
		<script async src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "WebSite",
				"name": "FACE Amrita",
				"alternateName": "Forum for Aspiring Computer Engineers",
				"url": "https://face-amrita.firebaseapp.com"
			}
		</script>
	</body>
</html>
