<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<%- include('meta') -%>
		<title>Offline - FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Offline - Forum for Aspiring Computer Engineers"
		/>
		<meta property="og:title" content="Offline - FACE Amrita Bangalore" />
		<meta property="og:url" content="https://faceaseb.com/offline" />
		<meta
			property="og:description"
			content="Offline - Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<ul class="slides">
							<li>
								<div class="flex-caption">
									<h1 class="">Offline &#x1f61f;</h1>
									<h3 class="">
										Your device is currently offline. Please
										connect to the internet and try again to
										visit the FACE website.
									</h3>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%- include('footer') -%> <%- include('scripts.ejs') -%>
	</body>
</html>
