<div id="preloader">
	<div id="loader"></div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>
<script async src="js/manup.js"></script>
<script>
	if (navigator.serviceWorker.controller) {
		console.log(
			"[PWA Builder] active service worker found, no need to register"
		);
	} else {
		navigator.serviceWorker
			.register("pwabuilder-sw.js", {
				scope: "./",
			})
			.then(function (reg) {
				console.log(
					"Service worker has been registered for scope:" + reg.scope
				);
			});
	}
</script>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		"url": "https://faceaseb.com",
		"sameAs": [
			"https://facebook.com/face00amrita",
			"https://twitter.com/faceaseb",
			"https://instagram.com/face_aseb",
			"https://linkedin.com/company/face-aseb",
			"https://medium.com/face-amrita-bangalore",
			"https://faceaseb.wordpress.com"
		],
		"name": "FACE Amrita",
		"alternateName": "Forum for Aspiring Computer Engineers Amrita Bengaluru",
		"logo": "https://faceaseb.com/android-chrome-512x512.png",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Amrita Vishwa Vidyapeetham University, Choodasandra, Kasavanahalli",
			"addressLocality": "Bengaluru",
			"addressRegion": "KA",
			"postalCode": "560035",
			"addressCountry": "IN"
		}
	}
</script>
