<ul class="slides">
    <li>
        <div class="flex-caption">
            <h1 class="">Say hello to <span>FACE</span>.
            </h1>
            <h3 class="">
                The Computer Science forum at Amrita School of Engineering, Bengaluru which strives to bring the best out of
                every student.
            </h3>
        </div>
    </li>
    <li>
        <div class="flex-caption">
            <h1 class="">Say hello to <span>FACE</span>.
            </h1>
            <h3 class="">
                We provide foundational learning skills to computer enthusiasts through weekly events that are laced with knowledge that is usually not provided within the four walls of a classroom.
            </h3>
        </div>
    </li>
    <li>
        <div class="flex-caption">
            <h1 class="">Say hello to <span>FACE</span>.
            </h1>
            <h3 class="">
                Along with other well known Computer related organizational chapters at ASEB such as ACM, Codechef and CSI , FACE conducts workshops and expert talks to motivate the student fraternity at college.
            </h3>
        </div>
    </li>
    <li>
        <div class="flex-caption">
            <h1 class="">Say hello to <span>FACE</span>.
            </h1>
            <h3 class="">
                Debugging Contests, Competitive Coding Training, Trending Technology Insights, Workshops, Invited Talks, CLub Collaborations, Design Challenges and many more...
            </h3>
        </div>
    </li>
</ul>