<ul class="header-social">
	<li>
		<a
			target="_blank"
			rel="noopener"
			href="https://facebook.com/face00amrita"
			><i class="fa fa-facebook"></i
		></a>
	</li>
	<li>
		<a target="_blank" rel="noopener" href="https://twitter.com/faceaseb"
			><i class="fa fa-twitter"></i
		></a>
	</li>
	<li>
		<a
			target="_blank"
			rel="noopener"
			href="https://instagram.com/face_aseb"
			><i class="fa fa-instagram"></i
		></a>
	</li>
	<li>
		<a
			target="_blank"
			rel="noopener"
			href="https://linkedin.com/company/face-aseb"
			><i class="fa fa-linkedin"></i
		></a>
	</li>
	<li>
		<a target="_blank" rel="noopener" href="/Blog"
			><i class="fa fa-wordpress"></i
		></a>
	</li>
	<li>
		<a
			target="_blank"
			rel="noopener"
			href="https://medium.com/face-amrita-bangalore"
			><i class="fa fa-maxcdn"></i
		></a>
	</li>
</ul>
