<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<title>Team - FACE Amrita Bangalore</title>
	<meta name="description" content="Team - Forum for Aspiring Computer Engineers">
	<meta property="og:title" content="Team - FACE Amrita Bangalore" />
	<meta property="og:url" content="https://face-amrita.firebaseapp.com/Team" />
	<meta property="og:description" content="Team - Forum for Aspiring Computer Engineers" />
	<%include meta.ejs%>
</head>

<body>
	<%include header.ejs%>
	<section id="hero">
		<div class="row hero-content">
			<div class="twelve columns hero-container">
				<div id="hero-slider" class="flexslider">
					<ul class="slides">
						<li>
							<div class="flex-caption">
								<h1 class="">Say hello to <span>FACE</span>.
								</h1>
								<h3 class="">A technical club At Amrita</h3>
							</div>
						</li>
						<li>
							<div class="flex-caption">
								<h1 class="">Say hello to <span>FACE</span>.
								</h1>
								<h3 class="">A technical club At Amrita</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="more">
			<a class="smoothscroll" href="#team">Meet Our Team<i class="fa fa-angle-down"></i></a>
		</div>
	</section>
	<section id="team">
		<div class="row team section-head">
			<div class="twelve columns">
				<h1>Meet Our Team<span>.</span></h1>
				<hr />
			</div>
		</div>
		<div class="row hero-content">
			<div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/aravind.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Aravind V. Nair</h3>
						<span>Executive member</span>
					</div>
					<p>
						A sophomore pursuing B.Tech in Computer Science and Engineering, Aravind V. Nair has enormous passion for coding
						and web
						development. He also has a great zeal in server management and ethical hacking.
					</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/AravindV.Nair1999" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.instagram.com/aravindvnair99/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/aravindvnair99/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://plus.google.com/+AravindVNair" target="_blank" rel="noopener"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">
					<div class="member-pic">
						<img src="images/team/vijaya.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>K.Vijaya</h3>
						<span>Executive Member</span>
					</div>
					<p>
						An INTP (Introvert, Intuitive, Thinking, Perceiving) personality. Ahe keeps her curiosity levels high and remains
						positive. She's also a infinite loop foodie whose routine is eat, sleep, code, watch K-Drama and repeat.
					</p>
					<ul class="member-social">
						<li><a href="www.facebook.com/vijaya.katuri.98
										" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
						<li><a href="www.instagram.com/vijaya.katuri/"><i class="fa fa-instagram" target="_blank" rel="noopener"></i></a></li>
						<li><a href="www.linkedin.com/in/katuri-vijaya-a58070141"><i class="fa fa-linkedin" target="_blank" rel="noopener"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/kaushik.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>K. Kaushik Reddy</h3>
						<span>Executive Member</span>
					</div>
					<p>
						Kaushik is an enthusiastic CS student and a coding geek. More of a team player , he always produces Energy and
						Clarity at work. Right now, this budding Data scientist is working to solve real world problems .
					</p>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/rutvij.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Rutvij D Khatri</h3>
						<span>Executive Member</span>
					</div>
					<p>Interested in Designing along with programming.</p>
					<!-- <ul class="member-social">
									<li><a href="#" target = "_blank" rel = "noopener"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" target = "_blank" rel = "noopener"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" target = "_blank" rel = "noopener"><i class="fa fa-linkedin"></i></a></li>
								</ul> -->
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/sharon.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Nirmal Sharon Joji</h3>
						<span>Executive Member</span>
					</div>
					<p>
						A second year student pursuing B.Tech in Computer Science and Engineering.
						Enjoys solving problems,troubleshooting issues and coming up with new solutions.
						Keen interest on learning and working on upcoming technologies.
					</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/sharon.joji.52"><i class="fa fa-facebook" target="_blank" rel="noopener"></i></a></li>
						<li><a href="https://www.instagram.com/sharon.joji/"><i class="fa fa-instagram" target="_blank" rel="noopener"></i></a></li>
						<li><a href="https://twitter.com/JojiSharon/"><i class="fa fa-twitter" target="_blank" rel="noopener"></i></a></li>

					</ul>
				</div>
				<div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/aakash.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>Aakash Rayaroth</h3>
						<span>Executive Member</span>
					</div>
					<p>Aakash, third year student pursuing B.Tech Computer Science, enjoys coding and is interested in Machine
						Learning and Artificial Intelligence.</p>
					<ul class="member-social">
						<li><a href="https://www.facebook.com/AakashRayaroth"><i class="fa fa-facebook" target="_blank" rel="noopener"></i></a></li>
						<li><a href="https://www.instagram.com/the.aakash.rayaroth/?hl=en"><i class="fa fa-instagram" target="_blank" rel="noopener"></i></a></li>
						<li><a href="https://twitter.com/AakashRayaroth"><i class="fa fa-twitter" target="_blank" rel="noopener"></i></a></li>
						<li><a href="https://plus.google.com/u/0/108592120405463598918?tab=mX"><i class="fa fa-google-plus" target="_blank"
								 rel="noopener"></i></a></li>
						<li><a href="https://www.linkedin.com/in/aakashrayaroth/"><i class="fa fa-linkedin" target="_blank" rel="noopener"></i></a></li>
					</ul>
				</div>
				<div class="bgrid member">
					<div class="member-pic">
						<img src="images/team/phani.jpg" alt="" />
						<div class="mask"></div>
					</div>
					<div class="member-name">
						<h3>K B Phani</h3>
						<span>Executive Member</span>
					</div>
					<p>A third year student pursuing B.Tech in Computer Science and Engineering, who is a passionate coder and also
						has a keen interest in ML and AI"</p>
					<ul class="member-social">
						<li><a href="www.linkedin.com/in/phani-khandavilli
								" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<%include contact.ejs%>
	<%include footer.ejs%>
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>