<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include meta.ejs%>
		<title>Team 2019 - 2020 | FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="Team 2019 - 2020 | Forum for Aspiring Computer Engineers"
		/>
		<meta
			property="og:title"
			content="Team 2019 - 2020 | FACE Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://face-amrita.firebaseapp.com/Team_1920"
		/>
		<meta
			property="og:description"
			content="Team 2019 - 2020 | Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%include nav.ejs%>
				</nav>
				<%include social.ejs%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%include slides.ejs%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#team"
					>Meet Our Team<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="team">
			<div class="row team section-head">
				<div class="twelve columns">
					<h1>Meet Our Team<span>.</span></h1>
					<hr />
				</div>
			</div>
			<div class="row hero-content">
				<div
					id="team-wrapper"
					class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group"
				>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/aditya.jpg"
								alt="Aditya D Udapudi"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aditya D Udapudi</h3>
							<span>Secretary of FACE</span>
						</div>
						<p>
							A third year pursuing his B-Tech in CSE. Has a great
							passion for Graphic and UI/UX designing. A Web
							Developer and a Tech Enthusiast. Loves to convert
							coffee into code and fiddling around with new tech.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://adityaudapudi.firebaseapp.com/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/adityaudapudi/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aditya.deepak18/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/adityadu-18"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/rakshana.jpg"
								alt="Rakshana J"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Rakshana J</h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							A third year computer enthusiast who enjoys problem
							solving and likes to try her hand in every new topic
							she comes across.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/rakshana.reddy.12"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="
									https://instagram.com/rakshanoo/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/rakshanajp/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/rakshanaj"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/abhishek.jpg"
								alt="Abhishek Sai"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Abhishek Sai</h3>
							<span>Joint Secretary</span>
						</div>
						<p>
							A third year pursuing his B.Tech. in Computer
							Science and Engineering, he loves to dapple with
							different programming languages and is a keen web
							developer.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/abhishek-kvs/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/abhishek-kvs"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/Abhishek-Sai"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/saiteja.jpg"
								alt="Maddula N V Sesha Saiteja"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Maddula N V Sesha Saiteja</h3>
							<span>Developer Student Club Lead</span>
						</div>
						<p>
							Enthusiastic learner who likes to explore breadth
							and depth of the fields in computer science and
							loves to share knowledge with others.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/saitejamaddula"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/saitejmaddula"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/sahana.jpg"
								alt="Sahana Shenoy"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sahana Shenoy</h3>
							<span>Chairperson, CSI Student Chapter ASE-B</span>
						</div>
						<p>
							A curious student and sophomore who believes that
							anything can be learnt with interest, perseverance
							and discipline.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://github.com/Sahana-Shenoy"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/sahana-shenoy-364280187"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/manasa_ch.jpg"
								alt="C H Manasa"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>C H Manasa</h3>
							<span
								>Vice Chairperson, CSI Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore pursuing computer Science Engineering,
							who aspires to dwell into the field of Artificial
							Intelligence.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/ch_manasa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ch-manasa-7830a1190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/ch-manasa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/sriharish.jpg"
								alt="Sriharish Ramakrishnan"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Sriharish Ramakrishnan</h3>
							<span>Chairperson, ACM Student Chapter ASE-B</span>
						</div>
						<p>
							A third year student who enjoys coding and problem
							solving. An Artificial Intelligence and Machine
							Learning enthusiast, he is fascinated with Big Data
							Analytics.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/sriharish.ramakrishnan"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/sriharish-r"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Sriharish0604"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/ritwik.jpg"
								alt="Ritwik Lal"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ritwik Lal</h3>
							<span
								>Vice Chairperson, ACM Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore whose close companions are coffee and
							coding. Loves to meddle with Python and R and
							displays a keen interest in Data Science and Machine
							Learning. Food and Travel have been an integral part
							of his life.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://medium.com/@ritwiklal2000"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/ritwik-lal-0ba351166"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Lal47"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/harshita.jpg"
								alt="Harshita Reddy Edugudi"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Harshita Reddy Edugudi</h3>
							<span
								>Chairperson, ACM-W Student Chapter ASE-B</span
							>
						</div>
						<p>
							A third year pursuing B.Tech. in Computer Science
							and Engineering. She is fascinated about Artificial
							Intelligence and Machine Learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/harshitareddy.edugudi"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/harshita._.reddy/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/harshita-reddy-41a69a16b"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/harshitaaaaa"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/meghana.jpg"
								alt="Meghana Rao Somepalli"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Meghana Rao Somepalli</h3>
							<span
								>Vice Chairperson, ACM-W Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A sophomore tech enthusiast who is keen on learning
							new things every day. She is interested in
							Artificial Intelligence and Machine Learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/mejhanaa/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/meghana-rao-a96099190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/mejhana"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/gowtham.jpg"
								alt="Jalam Venkata Gowtham"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Jalam Venkata Gowtham</h3>
							<span
								>Secretary, Codechef Student Chapter ASE-B</span
							>
						</div>
						<p>
							A third year student pursing B-Tech in Computer
							Science and Engineering who enjoys coding.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/venkat-gowtham-3ab1a0179/"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/venkatgowtham"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/neelee.jpg"
								alt="Neelee Upadhyay"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Neelee Upadhyay</h3>
							<span
								>Joint Secretary, Codechef Student Chapter
								ASE-B</span
							>
						</div>
						<p>
							A third year computer enthusiast pursuing her
							B.Tech. in Computer Science and Engineering, who
							enjoys competitive programming and app development.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/neelee-upadhyay-b64160190/"
									><i
										class="fa fa-linkedin"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
							<li>
								<a href="https://github.com/Neelee99"
									><i
										class="fa fa-github"
										target="_blank"
										rel="noopener"
									></i
								></a>
							</li>
						</ul>
					</div>
					<!-- <div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/XYZ.jpg"
								alt="XYZ"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>XYZ</h3>
							<span>Secretary, Forge</span>
						</div>
						<p>Description</p>
						<ul class="member-social">
							<li>
								<a
									href=""
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/XYZ.jpg"
								alt="XYZ"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>XYZ</h3>
							<span>Co-Secretary, Forge</span>
						</div>
						<p>
							XYZ
						</p>
						<ul class="member-social">
							<li>
								<a
									href=""
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div> -->
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/aravind.jpg"
								alt="Aravind V. Nair"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Aravind V. Nair</h3>
							<span
								>Lead Web Developer &amp; ACM Web Development
								SIG Lead</span
							>
						</div>
						<p>
							A third year pursuing his B.Tech. in Computer
							Science and Engineering, Aravind V. Nair has an
							enormous passion for web development and
							cybersecurity. He also has a great zeal in server
							management, ethical hacking, app development and
							various other fields.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair99.firebaseapp.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-user"></i
								></a>
							</li>
							<li>
								<a
									href="https://facebook.com/AravindV.Nair1999"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/aravindvnair99/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://aravindvnair1999.blogspot.com"
									target="_blank"
									rel="noopener"
									><i class="fa fa-globe"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1819/ramshankar.jpg"
								alt="Ramshankar Yadhunath"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Ramshankar Yadhunath</h3>
							<span>ACM Data Science SIG Lead</span>
						</div>
						<p>
							A fourth year student who loves coffee and is deeply
							interested in Data Science and Machine Learning.
							Mathematics is a close ally and theory is a distant
							friend.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://www.facebook.com/profile.php?id=100012910810903"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.linkedin.com/in/ramshankar-yadhunath-324a99155/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://www.instagram.com/ramshankaryadhunath/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/abhinay.jpg"
								alt="Abhinay Krishna Chitirala"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Abhinay Krishna Chitirala</h3>
							<span>Lead Designer, FACE</span>
						</div>
						<p>
							A third year student pursuing his B.Tech. in
							Computer Science and Engineering who has a keen
							interest in design and publicity aspiring to be a
							UI/UX designer and a Adobe Suite Certified Member.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://twitter.com/AbhinayChitira1"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://facebook.com/abhinay.chalapathi"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://behance.net/abhinaychaed1a"
									target="_blank"
									rel="noopener"
									><i class="fa fa-behance"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/abhinay-chitirala-76b061140"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Abhinaykrishna"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/vinayak.jpg"
								alt="Vinayak Tekade"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Vinayak Tekade</h3>
							<span>Web Developer, ACM</span>
						</div>
						<p>
							An sophomore electronics student with code writing
							experience. He is currently working on Web
							Development and is also interested in Competitive
							Programming and Android.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/its.me_vinayak/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/vinayak-tekade/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/VinayakTekade"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/priyaa.jpg"
								alt="R G Priyaa"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>R G Priyaa</h3>
							<span>Designer, ACM</span>
						</div>
						<p>
							A sophomore who is a passionate UI/UX designer and
							illustrator but more importantly a Gemini.
							EAT-SLEEP-CODE-DESIGN-REPEAT is her main moto.
						</p>
						<ul class="member-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://instagram.com/_priyaa_iyer_/"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/PriyaaIyer"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/r-g-priyaa-37432b188/ "
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/harshitha.jpg"
								alt="Harshitha Podduturi"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Harshitha Podduturi</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A third year student pursuing her B.Tech. in
							Computer Science and Engineering, enjoys coding in
							different programming languages and is interested in
							machine learning.
						</p>
						<ul class="member-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/harshitha-p-13a317148"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/harshithap99"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<!-- <div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/sharon.jpg"
								alt="Nirmal Sharon Joji"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Nirmal Sharon Joji</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A third year pursuing his B.Tech. in Computer Science and
							Engineering who enjoys solving problems,
							troubleshooting issues and coming up with new
							solutions. He displays a keen interest on learning and working on
							upcoming technologies.
						</p>
						<ul class="member-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://facebook.com/sharon.joji.52"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://instagram.com/sharon.joji/"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/sharonjoji"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://twitter.com/JojiSharon/"
									><i class="fa fa-twitter"></i
								></a>
							</li>
						</ul>
					</div> -->
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/animesh.jpg"
								alt="Animesh Singh"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Animesh Singh</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore computer enthusiast passionate about
							coding, Artificial Intelligence and Cryptography.
						</p>
						<ul class="member-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/animesh-singh2000/"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/Animesh963/"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/bs_saketh.jpg"
								alt="Bheemanathy Saketh Chandra"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Bheemanathy Saketh Chandra</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore pursuing B.Tech. in Computer Science and
							Engineering, who loves coding and problem-solving.
							He is an enthusiast about AOSP, IoT and Data
							Science. He is currently working on AOSP custom ROM
							development.
						</p>
						<ul class="member-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://facebook.com/saketh.chandra.35"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://twitter.com/SakethChandra1"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://instagram.com/the__bsc/"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/saketh-chandra-a695a5181"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://github.com/Saketh-Chandra"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/madhuri.jpg"
								alt="C H Sri Sai Madhuri"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>C H Sri Sai Madhuri</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore pursuing her B.Tech. in Computer Science
							and Engineering who loves discovering new things and
							is keenly interested in design and data science.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://facebook.com/madhurirao2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-facebook"></i
								></a>
							</li>
							<li>
								<a
									href="https://twitter.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-twitter"></i
								></a>
							</li>
							<li>
								<a
									href="https://instagram.com/crazie_madzie"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="http://github.com/madhuri2021"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/ch-sri-sai-madhuri-a1b0a3190"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/manasa_s.jpg"
								alt="Manasa Sanjeev"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Manasa Sanjeev</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore computer science aspirant with interests
							in Mathematics and design.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/manasa-sanjeev-99a193190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/manasasanjeev"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/pranav.jpg"
								alt="Pranav R Nambiar"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Pranav R Nambiar</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore majoring in Computer Science, he has a
							keen interest in app development right from
							designing in Adobe XD to working with Android
							Studio.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://github.com/prans12345"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://linkedin.com/in/pranav-radhesh-622301174"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/priya.jpg"
								alt="Priya Darshini Vanteddu"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Priya Darshini Vanteddu</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A budding sophomore who loves to code and has keen
							interest in web development, Android development and
							ML.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/priya-darshini-vanteddu-65528b178"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/priyavanteddu"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/subaharish.jpg"
								alt="R K Subaharish"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>R K Subaharish</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore who likes to learn different programming
							languages and has an interest in ethical hacking.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/rks_harish/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/harish-r-k-44708a190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Subaharish"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/shashankh.jpg"
								alt="Shashankh S"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Shashankh S</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A third year computer Science and engineering
							student interested in Machine learning, Data Science
							and Cyber Security.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/shashankhsubramani/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/shashankh-s-12590a164/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/ShashankhS"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/svarnim.jpg"
								alt="Svarnim Agarwal"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Svarnim Agarwal</h3>
							<span>Executive Member</span>
						</div>
						<p>
							Third year CSE student with interests in ML and
							Python, with passion for problem solving and logical
							reasoning.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/svarnim-agarwal-351b29193"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/svarnim"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/saketh.jpg"
								alt="Thogarucheeti Krishna Saketh"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Thogarucheeti Krishna Saketh</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore passionate about Artificial
							Intelligence, Machine Learning and Data Science.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://github.com/SakethThogarucheeti/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/saketh-thogarucheeti"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/vishal.jpg"
								alt="Vishal Ramachandran"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Vishal Ramachandran</h3>
							<span>Executive Member</span>
						</div>
						<p>
							A sophomore deeply interested in Artificial
							Intelligence and Linear Algebra, doing his major in
							ECE.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://instagram.com/love_billieeilish_forever/"
									target="_blank"
									rel="noopener"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a
									href="https://linkedin.com/in/vishal-ramachandran-6933a4185"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/Geniusunmatched"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="bgrid member">
						<div class="member-pic">
							<img
								src="images/team_1920/yash.jpg"
								alt="Yash Rajesh Umale"
							/>
							<div class="mask"></div>
						</div>
						<div class="member-name">
							<h3>Yash Rajesh Umale</h3>
							<span>Executive Member</span>
						</div>
						<p>
							An Electronics and Communications Engineering
							sophomore who is interested in Android App
							Development, Data Analytics and Machine Learning and
							loves meddling with Python and Java.
						</p>
						<ul class="member-social">
							<li>
								<a
									href="https://linkedin.com/in/yash-umale-291097190"
									target="_blank"
									rel="noopener"
									><i class="fa fa-linkedin"></i
								></a>
							</li>
							<li>
								<a
									href="https://github.com/newb-dev-1008"
									target="_blank"
									rel="noopener"
									><i class="fa fa-github"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%include contact.ejs%> <%include footer.ejs%> <%include scripts.ejs%>
	</body>
</html>
