<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<%include meta.ejs%>
	<title>Conference - FACE Amrita Bangalore</title>
	<meta name="description" content="Conference - Forum for Aspiring Computer Engineers">
	<meta property="og:title" content="Conference - FACE Amrita Bangalore" />
	<meta property="og:url" content="https://face-amrita.firebaseapp.com/Conference" />
	<meta property="og:description" content="Conference - Forum for Aspiring Computer Engineers" />
	<style>
		.rtable {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
  /* optional - enable iOS momentum scrolling*/
  -webkit-overflow-scrolling: touch;
  
  /* scrolling shadows*/
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
			  radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}


.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
}

.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
}

.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  /* border-collapse is no longer active*/
  border-left: 0;
}

/* border-collapse is no longer active*/
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}
	</style>
</head>

<body>
	<header id="main-header">
		<div class="row">
			<div class="logo">
				<a href="/">FACE</a>
			</div>
			<nav id="nav-wrap">
				<a class="mobile-btn" href="#nav-wrap" title="Show navigation">
					<span class="menu-icon">Menu</span>
				</a>
				<a class="mobile-btn" href="#" title="Hide navigation">
					<span class="menu-icon">Menu</span>
				</a>
				<ul id="nav" class="nav">
					<li class="current"><a class="smoothscroll" href="./#hero">Home</a></li>
					<li><a target="_blank" rel="noopener" href="/Identifire">Identifire</a></li>
					<li><a class="smoothscroll" href="./#about">About</a></li>
					<li><a href="/Team">Team</a></li>
					<li><a target="_blank" rel="noopener" href="/Blog">Blog</a></li>
					<li><a class="smoothscroll" href="/#portfolio">Gallery</a></li>
					<li><a class="smoothscroll" href="#contact">Contact</a></li>
				</ul>
			</nav>
			<ul class="header-social">
				<li><a target="_blank" rel="noopener" href="https://www.facebook.com/face00amrita/"><i class="fa fa-facebook"></i></a></li>
				<li><a target="_blank" rel="noopener" href="https://twitter.com/faceaseb"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" rel="noopener" href="https://www.instagram.com/face_aseb/"><i class="fa fa-instagram"></i></a></li>
				<li><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/face-aseb/"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>
	</header>
	<section id="hero">
		<div class="row hero-content">
			<div class="twelve columns hero-container">
				<div id="hero-slider" class="flexslider">
					<%include slides.ejs%>
				</div>
			</div>
		</div>
		<div id="more">
			<a class="smoothscroll" href="#services">More About ICIC 2018<i class="fa fa-angle-down"></i></a>
		</div>
	</section>
	<section id="portfolio">
		<div class="row section-head">
			<div class="twelve columns">
				<h1>Topics<span>.</span></h1>
				<hr />
				<p>
					ICIC 2018 is split into 4 tracks and consists of various topics.
				</p>
			</div>
		</div>
		<div class="row items">
			<div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<a href="#modal-01">
							<img src="images/portfolio/blindcoding.jpg" alt="blindcoding">
							<div class="overlay"></div>
							<div class="portfolio-item-meta">
								<h5>Data Visualization for decision making</h5>
							</div>
							<div class="link-icon"><i class="fa fa-plus"></i></div>
						</a>
					</div>
				</div>
				<div id="modal-01" class="popup-modal mfp-hide">
					<div class="media">
						<img src="images/workshop/speaker/anand.jpg" alt="Dr. Anand Lakshmanan" />
					</div>
					<div class="description-box">
						<h4>Speaker Bio</h4>
						<p>
							Dr. Anand Lakshmanan has helped academic institutions and corporations deep dive into their data and make better
							decisions. He has 18+ years of experience in academia and industry.
							<br><br>
							Most recently he worked at Apple in Cupertino, California for 6 years. He has published or co-published several
							papers and holds 7 patents. He believes that all scientists and professionals need to be data-savvy to make
							decisions and persuade actions. He is the Founder and CEO of sirpi.io , a data visualization company.

						</p>
						<h4>Data Visualization</h4>
						<p>
							Data driven decision making is the gold standard industry goal today. However, implementing this in practice
							needs a powerful intermediate step: Data Visualization. This day-long workshop helps students and industry
							practitioners make decisions using data visualization.
						</p>
						<h4>Topics Covered</h4>
						<p>
							<li>R-Programming and Tidyverse for data visualization</li>
							<li>Importing, Transforming, Arranging, Grouping, Summarizing and Visualizing your data</li>
							<li>Iterative data visualization</li>
							<li>Density charts and modal diagnostics</li>
							<li>Case studies</li>
							<li>Data Visualization Types : Histograms, Barcharts, Scatter plots, Box plots, Facet charts, Network charts,
								and Animations and Dashboards.</li>
							<li>Streaming API data visualization</li>
							<li>Data Visualization Do’s and Dont’s</li>
							<li>Data Visualization as a pre-requisite for Machine Learning and AI</li>
						</p>
					</div>
					<div class="link-box group">
						<a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Data_visualization">Learn More</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
			</div>
			<div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">
				<div class="bgrid folio-item">
					<div class="item-wrap">
						<a href="#modal-01">
							<img src="images/workshop/robotics.jpg" alt="blindcoding">
							<div class="overlay"></div>
							<div class="portfolio-item-meta">
								<h5>Robotics, IoT and Cloud Computing </h5>
							</div>
							<div class="link-icon"><i class="fa fa-plus"></i></div>
						</a>
					</div>
				</div>
				<div id="modal-01" class="popup-modal mfp-hide">
					<div class="media">
						<img src="images/workshop/speaker/anand.jpg" alt="Dr. Anand Lakshmanan" />
					</div>
					<div class="description-box">
						<h4>Speaker Bio</h4>
						<p>
							Name: Akshatha Pai Designation: Project Manager, Sirena Technologies, Bengaluru<br>
							Prior Work Experience Assistant Professor, Mechatronics MIT for 6 years <br>
							Education: Tech Instrumentation & Control; MTech: Astronomy & Space Engineering <br>
							Areas of research: Robotics, IoT, Embedded Control Systems, Spacecraft Control Systems, Machine Learning & AI 

						</p>
						<h4> Robotics & AI: Where are we headed next? </h4>
						<p>
							Modern science has grown multifold in this century. Technology is moving at breakneck speed. We have more technology in our pockets right now than we had in our homes in the 90s. The pereception is that robotic revolution happened in this decade but the reality is, it has been happening for decades. In it’s nascent stage, robotics fuelled the Industrial revolution in the 1960s. Today it is possible to envisage human sized robots with capacity for near human thought and movement. The lecture is going to highlight the revolution of robotics through the decades leading to the present day where the focus is around technology like artificial intelligence and humanoids.  The lecture is also going to be supported by a product demonstration of humanoid and robotic products by Sirena Technologies Pvt. Ltd. Bengaluru. The highlight of the demo is Nino - India’s only humanoid in the education sector. The humanoid is capable of walk, talk, movements and can be controlled through voice or app.  
						</p>
						<h4>Speaker Bio</h4>
						<p>
							Dr. K. Kanagasundaram, Sr. Technical Lead, Systems & Technology @ Ericsson Bengaluru Area, India

						</p>
						<h4> Advances in Intelligent Sensor, Controls and Communications </h4>
						<p>
						</p>
					</div>
					<div class="link-box group">
						<a target="_blank" rel="noopener" href="https://theiotmagazine.com/iot-robotics-for-the-spectrum-of-work-automation-f6e56f234fd8">Learn More</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="row section-head">
			<div class="twelve columns">
				<h1>Conference Schedule<span>.</span></h1>
				<hr />
				<table class="rtable rtable--flip">
					<thead>
						<tr>
							<th>Slot</th>
							<th>9:00 - 10:30</th>
							<th>11:00 - 13:00</td>
							<th>14:00 - 15:20</th>
							<th>15:30 - 17:00</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Track-1 (Data Visualization)</td>
							<td>Data Visualization By Dr. Anand Lakshmanan Ex-Apple, CEO at SIRPI.io</td>
							<td>Data Visualization By Dr. Anand Lakshmanan Ex-Apple, CEO at SIRPI.io</td>
							<td>Data Visualization By Dr. Anand Lakshmanan Ex-Apple, CEO at SIRPI.io</td>
							<td>Data Visualization By Dr. Anand Lakshmanan Ex-Apple, CEO at SIRPI.io</td>
						</tr>
						<tr>
							<td>Track-2 (Data Analytics)</td>
							<td>Introduction to machine learning with python By Dr Narsimha Datta</td>
							<td>Introduction to machine learning with python By Dr Narsimha Datta</td>
							<td>Data Analytics By Dr Veeramani Moorthy (Intuit)</td>
							<td>Data Analytics By Dr Veeramani Moorthy (Intuit)</td>
						</tr>
						<tr>
							<td>Track-3 (Eye Tracking and Medical Image Processing)</td>
							<td>Eye Tracking Workshop by Dr. Amudha J</td>
							<td>Eye Tracking Workshop by Dr. Amudha J</td>
							<td>Bio Innovations and Research from Indian Perspective by Dr Ravi Nayar HCG Hospital</td>
							<td>Developing Low Cost Devices for Cancer Patients for Indian Perspective by Dr Vishal Rao
								HCG Hospital</td>
						</tr>
						<tr>
							<td>Track-4 (Robotics, IoT, Cloud Networking)</td>
							<td>Robotics & AI: Where are we headed next? by Dr. Akshatha Pai</td>
							<td>
								Advances in Intelligent Sensor, Controls and Communications by Dr. K. Kanagasundaram,
								Senior Engineering Manager, Nevis Networks India Pvt Ltd. Topic: Research Issues in
								SDNs</td>
							<td>
								Demystifying Containerization Principles for Data Scientists by Dr. Ganesh Neelakanta
								Iyer Amrita Vishwa Vidyapeetham, Coimbatore</td>
							<td>
								Machine Learning and Intelligent Systems by Mr. J. Mahesh Babu, Principal Engineer –
								Research, Ericsson India Global Services Pvt. Ltd. Topic: Artificial Intelligence –
								Planning</td>
							<td>
								Prepare your Future with Cloud Computing by Dr. Prakash P
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<%include contact.ejs%>
	<%include footer.ejs%>
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
	<script async src="js/manup.js"></script>
	<script>
		if (navigator.serviceWorker.controller) {
			console.log('[PWA Builder] active service worker found, no need to register')
		} else {
			navigator.serviceWorker.register('pwabuilder-sw.js', {
				scope: './'
			}).then(function (reg) {
				console.log('Service worker has been registered for scope:' + reg.scope);
			});
		}
	</script>
	<script type="application/ld+json">
		{
		  "@context": "http://schema.org/",
		  "@type": "WebSite",
		  "name": "FACE Amrita",
		  "alternateName": "Forum for Aspiring Computer Engineers",
		  "url": "https://face-amrita.firebaseapp.com"
		}
	</script>
</body>

</html>