<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include meta.ejs%>
		<title>TFS - FACE Amrita Bangalore</title>
		<meta
			name="description"
			content="The FACE Season - Forum for Aspiring Computer Engineers"
		/>
		<meta property="og:title" content="TFS - FACE Amrita Bangalore" />
		<meta
			property="og:url"
			content="https://face-amrita.firebaseapp.com/TFS"
		/>
		<meta
			property="og:description"
			content="The FACE Season - Forum for Aspiring Computer Engineers"
		/>
	</head>

	<body>
		<header id="main-header">
			<div class="row">
				<div class="logo">
					<a href="/">FACE</a>
				</div>
				<nav id="nav-wrap">
					<a
						class="mobile-btn"
						href="#nav-wrap"
						title="Show navigation"
					>
						<span class="menu-icon">Menu</span>
					</a>
					<a class="mobile-btn" href="#" title="Hide navigation">
						<span class="menu-icon">Menu</span>
					</a>
					<%include nav.ejs%>
				</nav>
				<%include social.ejs%>
			</div>
		</header>
		<section id="hero">
			<div class="row hero-content">
				<div class="twelve columns hero-container">
					<div id="hero-slider" class="flexslider">
						<%include slides.ejs%>
					</div>
				</div>
			</div>
			<div id="more">
				<a class="smoothscroll" href="#services"
					>More About TFS<i class="fa fa-angle-down"></i
				></a>
			</div>
		</section>
		<section id="about">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>TFS - The FACE Season<span>.</span></h1>
					<hr />
					<p>
						Introducing a brand new concept for FACE this year! We
						came across this "Brainchild" of ours after several
						hours of thinking and strategic planning. The FACE team
						proudly presents to you : The FACE Season (TFS 2018).
						So, what is TFS all about? The main aim at introducing
						TFS was to create a community here at ASEB that was open
						to learning new concepts and also ready for competing
						against each other. And, to encourage participation,
						FACE also decided to award prizes to the season winners
						at the end of a season ( 1 semester) and also get them a
						place in TFS Hall of Fame. Such a list of the best would
						also let the club select top performers for representing
						the college in external competitions. And the winners
						are selected looking at how regular they are in TFS
						events. To encourage this, we have even decided to award
						points for just participation ! LEARN. COMPETE. WIN
					</p>
				</div>
			</div>
		</section>
		<section id="services">
			<div class="row section-head">
				<div class="twelve columns">
					<h1>FACE 2018 - 2019 Top Scorers<span>.</span></h1>
					<hr />
					<p>
						Meet the top 3.
					</p>
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div
					class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group"
				>
					<div class="bgrid">
						<h3>R Sriharish (CSE17103)</h3>
						<div class="service-content">
							<p>
								110 points
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>Shashankh S (CSE17117)</h3>
						<div class="service-content">
							<p>
								100 points
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>Animesh Singh (CSE18003)</h3>
						<div class="service-content">
							<p>
								64.375 points
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row section-head">
				<div class="twelve columns">
					<h1>Triathlon Top Scorers<span>.</span></h1>
					<hr />
					<p>
						Meet the top 3.
					</p>
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div
					class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group"
				>
					<div class="bgrid">
						<h3>1<sup>st</sup> place</h3>
						<div class="service-content">
							<p>
								<ul>
									<li>Harshitha N (AIE19024)</li>
									<li>Sneha B (AIE19060)</li>
									<li>Dipshikha (AIE19017)</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>2<sup>nd</sup> place</h3>
						<div class="service-content">
							<p>
								<ul>
									<li>Krishna S B (ECE19083)</li>
									<li>Krithika (ECE19064)</li>
									<li>Apoorva (AIE19007)</li>
								</ul>
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>3<sup>rd</sup> place</h3>
						<div class="service-content">
							<p>
								<ul>
									<li>Suriya (CSE19129)</li>
									<li>Hrudeep Reddy (CSE19155)</li>
									<li>Naveen Balaji (CSE19095)</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row section-head">
				<div class="twelve columns">
					<h1>CSI Comquer Top Scorers<span>.</span></h1>
					<hr />
					<p>
						Meet the top 3.
					</p>
				</div>
			</div>
			<div class="row mobile-no-padding">
				<div
					class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group"
				>
					<div class="bgrid">
						<h3>O Naga Lakshmi Lalasa (CSE19097)</h3>
						<div class="service-content">
							<p>
								9 / 10
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>Y Bhavitha (ECE19178)</h3>
						<div class="service-content">
							<p>
								9 / 10
							</p>
						</div>
					</div>
					<div class="bgrid">
						<h3>S L Srinithya (EOC19060)</h3>
						<div class="service-content">
							<p>
								8 / 10
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%include contact.ejs%> <%include footer.ejs%> <%include scripts.ejs%>
	</body>
</html>
