* {
	box-sizing: border-box;
}

/* Styling for whole html */
html {
	scroll-behavior: smooth;
}

/* Styling for body */
body {
	transition: 0.2s;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	display: block;
}

.container {
	max-width: 80%;
}

/* Styling for footer */
footer {
	background-color: gainsboro;
}

footer a{
	color: #595959;
}

/* Styling for navbar */
.navbar {
	background-color: #1b80ce;
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}

/* Styling for all the paragraghs */
p {
	font-size: 1.2rem;
	color: #595959;
}

/* Styling for all the cards */
.card {
	/* transition: transform 0.2s; */
	border: none;
}

/* .card:hover {
	transform: scale(1.025);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* Styling for Gallery Indicator */
.gal img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

/* Styling for Scroll Indicator */
.demo a {
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	transition: opacity 0.3s;
}
.demo a:hover {
	opacity: 0.5;
}

#section04 a {
	padding-top: 60px;
}
#section04 a span {
	position: absolute;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

#sig {
	/* width:100%; */
	height: 400%;
}

#sig .pimg0,
.pimg1,
.pimg2,
.pimg3 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
	  fixed = parallax
	  scroll = normal
	*/
	background-attachment: fixed;
}

#sig .pimg0 {
	height: 25%;
}

#sig .pimg1 {
	background-image: url('/ACM/img/Wsig.png');
	height: 25%;
}

#sig .pimg2 {
	background-image: url('/ACM/img/Dsig.png');
	height: 25%;
}

#sig .pimg3 {
	background-image: url('/ACM/img/Csig.png');
	height: 25%;
}

#sig .ptext {
	position: absolute;
	top: 40%;
	width: 50%;
	left: 7%;

	font-size: 1.2rem;
}

#sig .pimg0 .ptext {
	position: absolute;
	top: 30%;
	width: 80%;
	padding-left: 5%;
	text-align: center;
	font-size: 1.2rem;
}

.head {
	background-color: #595959;
	color: #fff;
	padding: 20px;
	font-size: 20px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.pimg1 .head,
.pimg2 .head,
.pimg3 .head {
	position: absolute;
	top: 30%;
	padding-left: 5%;
}

@media (max-width: 568px) {
	.sigm img {
		width: 100%;
		height: fit-content;
	}

	.blog .card {
		width: 100%;
	}

	.blog .card-container {
		padding: 0;
	}

	.event .card {
		margin: auto;
	}
}

.blog .card {
	height: 480px;
	background: url('/ACM/img/pattern.jpg');
	background-size: auto;
	background-repeat: no-repeat;
}

.blog .card .card-body {
	display: flex;
	flex-direction: column-reverse;
}

.event .card {
	height: 450px;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Styling for Events card */

.event1{
	background-image: url('/ACM/img/events/SIG_Intro.jpg');
}
.event2{
	background-image: url('/ACM/img/events/Start.jpg');
}
.event3{
	background-image: url('/ACM/img/events/FindFitFinish.jpg');
}


#members .card__title--cream {
	color: #e4e0c9;
}