html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

/* Styling for navbar */
.navbar {
	background-color: #1b80ce;
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}
.nav-link {
	font-size: 1.1rem;
}

/* Blank space behind nav */
.behindNav {
	height: 75px;
}

/* Members section */
.jumbotron {
	background-color: white;
	background-image: url("/ACM/img/team.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.card .memberImg {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	border: 1px solid grey;
	border-radius: 50%;
	/* background-image: url("/ACM/img/member.jpg"); */
	background-size: contain;
}

@media only screen and (max-width: 825px) {
	.card .memberImg {
		height: 220px;
		width: 220px;
		margin: 0 auto;
		border: 1px solid grey;
		border-radius: 50%;
		/* background-image: url("/ACM/img/member.jpg"); */
		background-size: contain;
	}
}

.memberImg,
.aditya .shobhanadri {
	background-image: url("/ACM/img/member.jpg");
}

.shreya {
	background-image: url("/ACM/img/members/shreya.jpg");
}

.ritwik {
	background-image: url("/images/team_1920/ritwik.jpg");
}

.sahana {
	background-image: url("/images/team_1920/sahana.jpg");
}

.vishnu {
	background-image: url("/ACM/img/members/vishnu.jpg");
}

.priyaa {
	background-image: url("/images/team_1920/priyaa.jpg");
}

.vaishnavi {
	background-image: url("/ACM/img/members/vaishnavi.jpg");
}

.hrudeep {
	background-image: url("/ACM/img/members/hrudeep.jpg");
}

.malvika {
	background-image: url("/ACM/img/members/malvika.jpg");
}

.jaswanth {
	background-image: url("/ACM/img/members/jaswanth.jpg");
}

.subaharish {
	background-image: url("/ACM/img/members/subaharish.jpg");
}

.adithya {
	background-image: url("/ACM/img/members/adithya.jpg");
}

.moulika {
	background-image: url("/ACM/img/members/moulika.jpg");
}

.gandheesh {
	background-image: url("/ACM/img/members/gandheesh.jpeg");
}

.bhuvanashree {
	background-image: url("/ACM/img/members/bhuvanashree.jpg");
}

.vinayak {
	background-image: url("/images/team_1920/vinayak.jpg");
}

.sriharish {
	background-image: url("/images/team_1819/sriharish.jpg");
}

.harshita {
	background-image: url("/images/team_1819/harshita.jpg");
}

.meghana {
	background-image: url("/images/team_1920/meghana.jpg");
}

.ramshankar {
	background-image: url("/images/team_1819/ramshankar.jpg");
}

.gowtham {
	background-image: url("/images/team_1920/gowtham.jpg");
}

.neelee {
	background-image: url("/images/team_1920/neelee.jpg");
}

.aravind {
	background-image: url("/images/team_1819/aravind.jpg");
}

.svarnim {
	background-image: url("/images/team_1920/svarnim.jpg");
}

.supriya {
	background-image: url("/ACM/img/supriya-m.jpg");
}

/* Styling for footer */
footer {
	background-color: gainsboro;
}

.footer-copyright {
	font-size: 12px;
}
