h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255,255,0.8);
}

p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255,255,0.8);


}

body{
    background: url(/ACM/img/bg.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100%;
}