/* Styling for whole html */
html {
	scroll-behavior: smooth;
}

/* Styling for body */
body {
	transition: 0.2s;
	box-sizing: border-box;
}

body, html{
	height:100%;
	margin:0;
  }

/* Styling for footer */
footer {
	background-color: gainsboro;
}

/* Styling for navbar */
.navbar {
	background-color: #1b80ce;
}
.navbar-collapse {
	display: flex;
	justify-content: flex-end;
}

/* Styling for all the paragraghs */
p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
}

/* Styling for all the cards */
.card {
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.025);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Setting height of bootstrap Carousel for different resolutions */
/* .bd-example .carousel .carousel-inner .carousel-item img {
	height: 50rem;
	width: 100%;
} */

/* @media only screen and (max-width: 768px) {
	.bd-example .carousel .carousel-inner .carousel-item img {
		height: 30rem;
	}
}

@media only screen and (max-width: 480px) {
	.bd-example .carousel .carousel-inner .carousel-item img {
		height: 20rem;
	}
} */

/* Styling for Gallery Indicator */
.gal img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

/* Styling for Scroll Indicator */
.demo a {
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	transition: opacity 0.3s;
}
.demo a:hover {
	opacity: 0.5;
}

#section04 a {
	padding-top: 60px;
}
#section04 a span {
	position: absolute;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
