body {
	transition: 0.2s;
}

footer {
	background-color: gainsboro;
}

.navbar {
	background-color: #1b80ce;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.2rem;
}

.card:hover {
	transform: scale(1.025);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
	transition: transform 0.2s;
}

.bd {
	height: 50%;
}
